<h2>Permissões</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border" >
    <div class="row">
      <div class="form-group col-md-3">
        <label>Formulário: </label>
        <ng-select [items]="formularios" style="text-transform: uppercase" bindLabel="nome" bindValue="nome"
          [(ngModel)]="formularioSelecionado" (change)="getPermissoesFormularios()" name="cidadeId">
        </ng-select>
      </div>
    </div>

    <table class="table"> 
      <thead>
        <tr>
          <th>Ação</th>
          <th>Níveis Permitidos</th>
        </tr>
      </thead>
      <tbody *ngIf="formularioSelecionado !== ''" >
        <tr *ngFor="let permissao of permissoesFormulario">
          
          <td *ngIf="permissao.objeto == null">{{permissao.acao}}</td>
          <td *ngIf="permissao.objeto !== null">{{permissao.acao}} {{permissao.objeto}} </td>
          <td>
            <ng-select style="max-height:35px;" [items]="niveis" bindLabel="name" bindValue="id" 
            [ngModel]="getNiveisPermissao(permissao.id)"
            
            (change)="setNiveisPermissao(permissao.id, $event)"
            required [multiple]="true">
            </ng-select>
          </td>
        </tr>
      </tbody>
    </table>
   
  </div>

</div>

<button *ngIf="this.editar == true" style="position:relative;margin-bottom: 15px;" (click)="salvarAlteracao()" tooltip="Salvar"
  class="btn btn-lg btn-primary">
  &nbsp;Salvar Alterações
</button>