<h2>Alterar Senha</h2>
<hr width="100%">
<div class="box box-primary">
  <div class="box-header with-border">
    <div class="col-md-12">
      <form [formGroup]="cadastroForm">

        <div class="row">
          <div class="form-group col-md-3">
            <label>Senha Atual:</label>
            <input class="form-control" type="password" formControlName="senhaAtual" [ngClass]="{ 'is-invalid': cadastroForm.get('senhaAtual').errors &&
                                                             cadastroForm.get('senhaAtual').touched}"
              placeholder="Digite sua Senha atual" />
            <div *ngIf="cadastroForm.get('senhaAtual').hasError('minlength') &&
                                  cadastroForm.get('senhaAtual').touched" class="invalid-feedback d-block">
              Deve conter no mínimo 4 caracters.
            </div>
            <div *ngIf="cadastroForm.get('senhaAtual').hasError('required') &&
                                            cadastroForm.get('senhaAtual').touched" class="invalid-feedback d-block">
              Senha Atual é obrigatório.
            </div>
          </div>
        </div>

        <div formGroupName="passwords">
          <div class="row">
            <div class="form-group col-md-3">
              <label>Senha:</label>
              <input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': cadastroForm.get('passwords.password').errors &&
                                                             cadastroForm.get('passwords.password').touched}"
                placeholder="Digite uma Senha" />
              <div *ngIf="cadastroForm.get('passwords.password').hasError('minlength') &&
                                  cadastroForm.get('passwords.password').touched" class="invalid-feedback d-block">
                Deve conter no mínimo 4 caracters.
              </div>
              <div *ngIf="cadastroForm.get('passwords.password').hasError('required') &&
                                            cadastroForm.get('passwords.password').touched" class="invalid-feedback d-block">
                Senha é obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Confirmar Senha:</label>
              <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': cadastroForm.get('passwords.confirmPassword').errors 
                                               && cadastroForm.get('passwords.confirmPassword').touched 
                                               ||cadastroForm.get('passwords.confirmPassword').hasError('mismatch') 
                                               && cadastroForm.get('passwords.confirmPassword').touched }"
                placeholder="Confirme a Senha" />
              <div *ngIf="cadastroForm.get('passwords.confirmPassword').hasError('required') &&
                                            cadastroForm.get('passwords.confirmPassword').touched"
                class="invalid-feedback d-block">
                Confirme a senha.
              </div>
              <div *ngIf="cadastroForm.get('passwords.confirmPassword').hasError('mismatch') 
                                            && cadastroForm.get('passwords.confirmPassword').touched"
                class="invalid-feedback d-block">
                Senhas diferentes!
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<button *ngIf="this.idUsuario == permissaoService.getUsuarioId()"
  style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid" (click)="salvarAlteracao()"
  tooltip="Salvar" class="btn btn-lg btn-primary">
  &nbsp;Salvar
</button>