{{abrirTemplate(templateCheckListProduto)}}
<div bsModal #templateCheckListProduto="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
  class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title float-left">
          Check List
        </h4>

        <button type="button" class="close float-right" (click)="fecharTemplate(templateCheckListProduto)"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>

          <tab heading="Grupo" style="margin-top: 10px;">
            <form [formGroup]="cadastroGrupoCheckForm">
              <input type="hidden" class="form-control" formControlName="id" value="0" placeholder="" />
              <div class="row">
                <div class="form-group col-md-5">
                  <label>Descrição</label>
                  <input type="text" style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                    oninput="this.value = this.value.toUpperCase()" class="form-control"
                    [ngClass]="{'is-invalid':cadastroGrupoCheckForm.get('descricao').errors &&cadastroGrupoCheckForm.get('descricao').touched}"
                    formControlName="descricao" />
                  <div
                    *ngIf="cadastroGrupoCheckForm.get('descricao').hasError('required') &&cadastroGrupoCheckForm.get('descricao').touched"
                    class="invalid-feedback d-block">
                    Campo é obrigatório.
                  </div>
                </div>
              </div>

            </form>
          </tab>

          <tab heading="Checks" *ngIf="this.modoSalvar == 'editar'" style="margin-top: 10px;">
            <div style="margin-right: 15px;margin-bottom: 10px;" class="float-right">
              <a tooltip="Cadastrar Check"  (click)="abrirTemplateCheck(templateCheck)" class="btn btn-success">
                <i class="fa fa-plus-circle"></i>&nbsp; Cadastrar Check
              </a>
            </div>
            <table  style="border-collapse:inherit;" class="table table-striped table-bordered mt-3">
                <thead class="thead-light">
                  <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                  </tr>
                </thead>
                <tbody *ngIf="checkList && checkList.length">
                  <tr *ngFor="let check of checkList">
                    <td>{{ check.id }}</td>
                    <td style="white-space: nowrap;">{{ check.descricao }}</td>
                  </tr>
                </tbody>
      
                <tfoot *ngIf="!checkList">
                  <tr colspan="7" class="text-center"></tr>
                  <h4>
                    Nenhum Check encontrado!
                  </h4>
                </tfoot>
              </table>
          </tab>

          <tab heading="Opções" *ngIf="this.modoSalvar == 'editar'" style="margin-top: 10px;">
            <div style="margin-right: 15px;margin-bottom: 10px;" class="float-right">
              <a tooltip="Nova Opção" (click)="abrirTemplateCheckOpcoes(templateCheckOpcoes)" class="btn btn-success">
                <i class="fa fa-plus-circle"></i>&nbsp; Nova Opção
              </a>
            </div>
            <table  style="border-collapse:inherit;" class="table table-striped table-bordered mt-3">
                <thead class="thead-light">
                  <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                  </tr>
                </thead>
                <tbody *ngIf="checkListOpcoes && checkListOpcoes.length">
                  <tr *ngFor="let opcao of checkListOpcoes">
                    <td>{{ opcao.id }}</td>
                    <td style="white-space: nowrap;">{{ opcao.descricao }}</td>
                  </tr>
                </tbody>
      
                <tfoot *ngIf="!checkListOpcoes">
                  <tr colspan="7" class="text-center"></tr>
                  <h4>
                    Nenhuma Opção encontrada!
                  </h4>
                </tfoot>
              </table>
          </tab>
        </tabset>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplate(templateCheckListProduto)">
          Fechar
        </button>

        <button class="btn btn-primary ml-auto" *ngIf="this.modoSalvar == 'editar'"
          [disabled]="!cadastroGrupoCheckForm.valid" (click)="salvarGrupoCheck(templateCheckListProduto)">
          Salvar Alterações
        </button>
        <button class="btn btn-primary ml-auto" *ngIf="this.modoSalvar == 'cadastrar'"
          [disabled]="!cadastroGrupoCheckForm.valid" (click)="cadastrarGrupoCheck(templateCheckListProduto)">
          Cadastrar
        </button>
      </div>
    </div>


  </div>
</div>

<div bsModal #templateCheck="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
  class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title float-left">
          Check List
        </h4>

        <button type="button" class="close float-right" (click)="fecharTemplateCheck(templateCheck)"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
        <form [formGroup]="cadastroCheckForm">
          <input type="hidden" class="form-control" formControlName="id" value="0" placeholder="" />
          <div class="row">
            <div class="form-group col-md-12">
              <label>Descrição</label>
              <input type="text" style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                oninput="this.value = this.value.toUpperCase()" class="form-control"
                [ngClass]="{'is-invalid':cadastroCheckForm.get('descricao').errors &&cadastroCheckForm.get('descricao').touched}"
                formControlName="descricao" />
              <div
                *ngIf="cadastroCheckForm.get('descricao').hasError('required') &&cadastroCheckForm.get('descricao').touched"
                class="invalid-feedback d-block">
                Campo é obrigatório.
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplateCheck(templateCheck)">
          Fechar
        </button>

        <button class="btn btn-primary ml-auto"
          [disabled]="!cadastroCheckForm.valid" (click)="cadastrarCheck(templateCheck)">
          Cadastrar
        </button>
      </div>
    </div>

  </div>
</div>


<div bsModal #templateCheckOpcoes="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
  class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title float-left">
          Opcões
        </h4>

        <button type="button" class="close float-right" (click)="fecharTemplateCheck(templateCheckOpcoes)"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
        <form [formGroup]="cadastroCheckOpcoesForm">
          <input type="hidden" class="form-control" formControlName="id" value="0" placeholder="" />
          <div class="row">
            <div class="form-group col-md-12">
              <label>Descrição</label>
              <input type="text" style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                oninput="this.value = this.value.toUpperCase()" class="form-control"
                [ngClass]="{'is-invalid':cadastroCheckOpcoesForm.get('descricao').errors &&cadastroCheckOpcoesForm.get('descricao').touched}"
                formControlName="descricao" />
              <div
                *ngIf="cadastroCheckOpcoesForm.get('descricao').hasError('required') &&cadastroCheckOpcoesForm.get('descricao').touched"
                class="invalid-feedback d-block">
                Campo é obrigatório.
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplateCheck(templateCheckOpcoes)">
          Fechar
        </button>

        <button class="btn btn-primary ml-auto"
          [disabled]="!cadastroCheckOpcoesForm.valid" (click)="cadastrarCheckOpcoes(templateCheckOpcoes)">
          Cadastrar
        </button>
      </div>
    </div>

  </div>
</div>