<div *ngFor="let grupo of gruposCheckList" class="{{this.coluna}}">
  <div class="row">
    <table class="table table-bordered {{this.border}}">
      <thead class="thead-light">
        <tr>
          <th>{{grupo.descricao}}</th>
          <th *ngFor="let opcao of grupo.checkListOpcoes" style="text-align: center;">{{opcao.descricao}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let check of grupo.checkList">
          <td style=" width:40%;">{{check.descricao}}</td>
          <td style="text-align: center;" *ngFor="let opcao of grupo.checkListOpcoes">
            <mat-checkbox color="primary" [value]="opcao.id" [disabled]="this.pedido"
              [checked]="(check.opcaoSelecionadaId == opcao.id) ? true : false"
              (change)="marcarOpcao(grupo, check, opcao, $event)">
            </mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button *ngIf="this.pedido == false" style="position:relative;margin-bottom: 15px;" (click)="salvarAlteracoes()"
  tooltip="Salvar ABA [CHECK LIST]" class="btn btn-lg btn-primary">
  &nbsp;Salvar Alterações [CHECK LIST]
</button>