<div class="row">
  <div class="col-md-6">

    <table *ngFor="let grupo of gruposCheckList" class="table table-responsive table-bordered">
      <thead class="thead-light">
        <tr>
          <th>{{grupo.descricao}}</th>
          <th *ngFor="let opcao of grupo.checkListOpcoes" style="text-align: center;">{{opcao.descricao}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let check of grupo.checkList">
          <td>{{check.descricao}}</td>
          <td *ngFor="let opcao of grupo.checkListOpcoes" style="text-align: center;">
            <mat-checkbox color="primary" [value]="opcao.id"
              [checked]="(check.opcaoSelecionada == opcao.id) ? true : false" (change)="alterarOpcao(grupo, check, opcao)">
            </mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button style="position:relative;margin-bottom: 15px;" (click)="salvarAlteracoes()" tooltip="Salvar"
  class="btn btn-lg btn-primary">
  &nbsp;Salvar Alterações
</button>