<h2>Pessoas</h2>
<hr width="100%">
<div class="box box-primary">
  <div class="box-header with-border">
    <div class="row">
      <div class="form-group col-md-2">
        <label>Filtrar por:</label>
        <ng-select [clearable]="false" [items]="filtrarPor" name="filtrarPor" [(ngModel)]="filtroSelecionado"
          (change)="setFiltroSelecionado($event)">
        </ng-select>
      </div>

      <div *ngIf="filtroSelecionado != 'CIDADE'" class="form-group col-md-3">
        <div *ngIf="filtroSelecionado == 'TIPO'">
          <label>Tipo:</label>
          <ng-select [items]="tiposPessoa" style="text-transform: uppercase" bindLabel="descricao" bindValue="descricao"
            [(ngModel)]="filtroLista" name="tipoFiltro">
          </ng-select>
        </div>

        <div *ngIf="filtroSelecionado == 'NOME'">
          <label>Filtro:</label>
          <input type="text" class="form-control" placeholder="..." name="filtro" [(ngModel)]="filtroLista" />
        </div>

        <div *ngIf="filtroSelecionado == 'CNPJ/CPF'">
          <label>Filtro:</label>
          <input class="form-control" type="text" maxlength="18" placeholder="..." name="filtro"
            [ngModel]="filtroLista | cnpjCpfPipePipe" (ngModelChange)="filtroLista=$event" />
        </div>
      </div>



      <div *ngIf="filtroSelecionado == 'CIDADE'" class="form-group col-md-1">
        <label>Estado:</label>
        <ng-select [items]="estados" bindLabel="uf" (clear)="limparEstado()" bindValue="id"
          (change)="getCidades(estadoIdSelecionado)" [(ngModel)]="estadoIdSelecionado" name="estadoFiltro">
        </ng-select>
      </div>

      <div *ngIf="filtroSelecionado == 'CIDADE'" class="form-group col-md-3">
        <label>Cidade:</label>
        <ng-select [items]="cidades" style="text-transform: uppercase" bindLabel="nome" (clear)="limparCidade()"
          bindValue="id" [(ngModel)]="filtroLista" name="cidadeFiltro">
        </ng-select>
      </div>

      <div class="form-group col-md-2">
        <label>Status:</label>
        <ng-select [clearable]="false" [items]="status" name="statusFiltro" [(ngModel)]="statusFiltroSelecionado"
          (change)="setStatusFiltroSelecionado($event)">
        </ng-select>
      </div>
      <div style="margin-right: 15px;" class="pull-right">
        <a *ngIf="this.novo == true" [routerLink]="['/pessoas','novo']" tooltip="Nova Pessoa" class="btn btn-success">
          <i class="fa fa-plus-circle"></i>&nbsp; Nova Pessoa
        </a>
      </div>
    </div>

    <table class="container-fluid table table-striped table-bordered mt-4">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Tipo(s)</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th style="text-align: center;">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="pessoas && pessoas.length">
        <tr
          *ngFor="let pessoa of pessoasFiltrados | paginate: { itemsPerPage: 5, currentPage: paginaAtual, totalItems: totalRegistros };">
          <td>{{ pessoa.id }}</td>
          <td style="white-space: nowrap;">{{ pessoa.nome }}</td>
          <td style="white-space: nowrap;">
            <span style="margin-right:5px;" class="badge badge-primary" *ngFor="let pTipos of pessoa.pessoaTipos">
              {{ pTipos.tiposPessoa.descricao }}
            </span>&nbsp;
          </td>
          <td style="white-space: nowrap;">{{ pessoa.telefone }}</td>
          <td style="white-space: nowrap;">{{ pessoa.celular }}</td>
          <td style="text-align: center;white-space: nowrap;">
            <div class="btn-group">
              <button *ngIf="this.excluir == true" class="btn btn-sm btn-danger" tooltip="Excluir"
                (click)="excluirPessoa(pessoa, confirm)">
                <i class="fa fa-eraser"></i>
              </button>
              <a *ngIf="this.editar == true || this.visualizar == true" [routerLink]="['/pessoas','editar', pessoa.id]" tooltip="Editar/Perfil"
                class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!pessoas">
        <tr colspan="7" class="text-center"></tr>
        <h4>
          Nenhuma pessoa encontrada!
        </h4>
      </tfoot>
    </table>
    Total de Registros: {{totalRegistros}}
    <div class="text-center">
      <pagination-controls (pageChange)="paginaAtual = $event" name="clientePagination" previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Excluir Pessoa
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyExcluirPessoa}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          Cancelar
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmarExclusao(confirm)">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>