<form [formGroup]="cadastroAutorizacao">

  <div class="row">
    <div class="form-group col-md-12">
      <label>Autorizado</label>
      <ng-select [clearable]="false" [items]="autorizado" [(ngModel)]="autorizadoSelecionado"
        formControlName="autorizado"
        [ngClass]="{ 'is-invalid': cadastroAutorizacao.get('autorizado').errors &&  cadastroAutorizacao.get('autorizado').touched}">
      </ng-select>
      <div
        *ngIf="cadastroAutorizacao.get('autorizado').hasError('required') &&cadastroAutorizacao.get('autorizado').touched"
        class="invalid-feedback d-block">
        Campo Obrigatório.
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="form-group col-md-12">
      <label>Observações</label>
      <textarea class="form-control" formControlName="observacoes" rows="2"></textarea>
    </div>

  </div>
</form>

<button *ngIf="this.idAutorizacao != 0 && this.editar == true" [disabled]="!cadastroAutorizacao.valid"
  class="btn btn-primary" (click)="salvarAutorizacao(templateAutorizacao)">
  Salvar
</button>