{{abrirTemplate(templateEmpresa)}}
<div bsModal #templateEmpresa="bs-modal" class="modal fade" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title float-left">
          Empresa<label></label>
        </h4>

        <button type="button" class="close float-right" (click)="fecharTemplate(templateEmpresa)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cadastroEmpresa">
          <div class="row">

            <div *ngIf="this.empresa" class="form-group col-md-3">
              <img src="{{this.baseURLLogo}}"style="width: 230px;height: 140px;border: 1px solid #000000;" alt="SEM LOGO">
              <button  class="btn btn-success" style="margin-top:5px;"(click)="file.click()">Selecionar Logo</button>

            </div>
            <div class="form-group col-md-6" [style.marginLeft.px]="(this.idEmpresa != 0) ? 50 : 0">
              <label>Razão Social:(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="razaoSocial" [ngClass]="{ 'is-invalid': cadastroEmpresa.get('razaoSocial').errors && 
                                            cadastroEmpresa.get('razaoSocial').touched}" />

              <div
                *ngIf="cadastroEmpresa.get('razaoSocial').hasError('required') &&cadastroEmpresa.get('razaoSocial').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-6" [style.marginLeft.px]="(this.idEmpresa != 0) ? 50 : 0">
              <label>Nome Fantasia:(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="nomeFantasia" [ngClass]="{ 'is-invalid': cadastroEmpresa.get('nomeFantasia').errors && 
                                                          cadastroEmpresa.get('nomeFantasia').touched}" />

              <div
                *ngIf="cadastroEmpresa.get('nomeFantasia').hasError('required') &&cadastroEmpresa.get('nomeFantasia').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-3">
              <label>Inscrição Estadual:</label>
              <input class="form-control" type="text" maxlength="16" [ngModel]="valueIePipe | iePipePipe"
                (ngModelChange)="valueIePipe=$event" formControlName="ie" />
            </div>

            <div class="form-group col-md-3">
              <label>Cnpj/Cpf:(*)</label>
              <input class="form-control" type="text" maxlength="18" formControlName="cnpjCpf" [ngClass]="{ 'is-invalid': cadastroEmpresa.get('cnpjCpf').errors && 
                      cadastroEmpresa.get('cnpjCpf').touched}" [ngModel]="valueCnpjCpfPipe | cnpjCpfPipePipe"
                (ngModelChange)="valueCnpjCpfPipe=$event" />

              <div *ngIf="cadastroEmpresa.get('cnpjCpf').hasError('required') &&cadastroEmpresa.get('cnpjCpf').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Cep:(*)</label>
              <input class="form-control" type="text" maxlength="9" formControlName="cep" [ngClass]="{ 'is-invalid': cadastroEmpresa.get('cep').errors && 
                  cadastroEmpresa.get('cep').touched}" [ngModel]="valueCepPipe | cepPipePipe"
                (ngModelChange)="valueCepPipe=$event" />

              <div *ngIf="cadastroEmpresa.get('cep').hasError('required') &&cadastroEmpresa.get('cep').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Estado:(*)</label>
              <ng-select [items]="estados" bindLabel="uf" required (clear)="limparEstado()" bindValue="id"
                (change)="getCidades(estadoIdSelecionado)" [(ngModel)]="estadoIdSelecionado" formControlName="estadoId">
              </ng-select>
              <div
                *ngIf="cadastroEmpresa.get('estadoId').hasError('required') && cadastroEmpresa.get('estadoId').touched"
                class="invalid-feedback d-block d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>


          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label>Cidade:(*)</label>
              <ng-select [items]="cidades" style="text-transform: uppercase" bindLabel="nome" bindValue="id"
                [(ngModel)]="cidadeIdSelecionado" formControlName="cidadeId">
              </ng-select>
              <div
                *ngIf="cadastroEmpresa.get('cidadeId').hasError('required') && cadastroEmpresa.get('cidadeId').touched"
                class="invalid-feedback d-block d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Endereço:(*)</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="endereco" [ngClass]="{ 'is-invalid': cadastroEmpresa.get('endereco').errors && 
                                                                        cadastroEmpresa.get('endereco').touched}" />

              <div
                *ngIf="cadastroEmpresa.get('endereco').hasError('required') &&cadastroEmpresa.get('endereco').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>



            <div class="form-group col-md-4">
              <label>Bairro:(*)</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="bairro"
                [ngClass]="{ 'is-invalid': cadastroEmpresa.get('bairro').errors && cadastroEmpresa.get('bairro').touched}" />

              <div *ngIf="cadastroEmpresa.get('bairro').hasError('required') &&cadastroEmpresa.get('bairro').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label>Telefone:(*)</label>
              <input class="form-control" type="text" maxlength="14" formControlName="telefone" [ngClass]="{ 'is-invalid': cadastroEmpresa.get('telefone').errors && 
                      cadastroEmpresa.get('telefone').touched}" [ngModel]="valueTelefonePipe | celularPipePipe"
                (ngModelChange)="valueTelefonePipe=$event" />

              <div
                *ngIf="cadastroEmpresa.get('telefone').hasError('required') &&cadastroEmpresa.get('telefone').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Status:</label>
              <ng-select [clearable]="false" [items]="status" [(ngModel)]="statusSelecionado" formControlName="status">
              </ng-select>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplate(templateEmpresa)">
          Fechar
        </button>
        <button *ngIf="this.idEmpresa != 0 && this.editar == true" [disabled]="!cadastroEmpresa.valid"
          class="btn btn-primary" (click)="salvarEmpresa(templateEmpresa)">
          Salvar
        </button>
        <button *ngIf="this.idEmpresa == 0 && this.cadastrar == true" [disabled]="!cadastroEmpresa.valid"
          class="btn btn-primary" (click)="salvarEmpresa(templateEmpresa)">
          Cadastrar
        </button>
      </div>
    </div>
  </div>

</div>

<input class="form-control" type="file" #file style="display: none;" accept="image/*" (change)="alterarNomeArquivoLogo($event)"/>