<h2>Empresas</h2>
<hr width="100%">
<div class="box box-primary" *ngIf="this.listar == true">
  <div class="box-header with-border">
    <div class="row">
      <div style="margin-right: 15px;margin-bottom: 15px;"class="float-right">
        <a *ngIf="this.cadastrar == true" [routerLink]="" 
          (click)="abrirTemplateEmpresa(0)" tooltip="Nova Empresa" class="btn btn-success">
          <i class="fa fa-plus-circle"></i>&nbsp; Nova Empresa
        </a>
      </div>
    </div>

    <table style="border-collapse:inherit;" class="container-fluid table table-striped table-bordered mt-4">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Razão Socia</th>
          <th>Nome Fantasia</th>
          <th>Telefone</th>
          <th style="text-align: center;">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="empresas && empresas.length">
        <tr
          *ngFor="let empresa of empresas | paginate: { itemsPerPage: 30, currentPage: paginaAtual, totalItems: totalRegistros };">
          <td>{{ empresa.id }}</td>
          <td style="white-space: nowrap;">{{ empresa.razaoSocial }}</td>
          <td style="white-space: nowrap;">{{ empresa.nomeFantasia }}</td>
          <td style="white-space: nowrap;">{{ empresa.telefone }}</td>
          <td style="text-align: center;white-space: nowrap;">
            <div class="btn-group">
              <a *ngIf="this.editar == true || this.visualizar" [routerLink]=""  (click)="abrirTemplateEmpresa(empresa.id)" tooltip="Editar/Perfil"
                class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!empresas">
        <tr colspan="7" class="text-center"></tr>
        <h4>
          Nenhum empresa encontrado!
        </h4>
      </tfoot>
    </table>
    Total de Registros: {{totalRegistros}}
    <div class="text-center">
      <pagination-controls (pageChange)="paginaAtual = $event" name="empresaPagination" previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.listar == false">
  Você não tem permissão.
</div>
<app-empresa-template [idEmpresa]="this.idEmpresa" *ngIf="getTemplateEmpresa() == true"></app-empresa-template>