<div class="box box-primary">
  <div class="box-header with-border">
    <div class="row">
      <div style="margin-right: 15px;" class="float-right" *ngIf="this.venda.status != 'FINALIZADO'">
        <button (click)="abrirTemplateModalRecebimento(this.produtoItem)" class="btn btn-success">
          <i class="fa fa-plus-circle"></i>&nbsp; Cadastrar Recebimento
        </button>
      </div>
    </div>
    <table style="border-collapse:inherit;" style="margin-top: 15px;border-collapse:inherit;"
      class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Descrição</th>
          <th>Plano de Pagamento</th>
          <th style="text-align: center;">Data Emissão</th>
          <th style="text-align: center;">Valor</th>
          <th style="text-align: center;">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="recebimentos && recebimentos.length">
        <tr *ngFor="let recebimento of recebimentos">
          <td style="white-space: nowrap;">{{recebimento.id}}</td>
          <td style="white-space: nowrap;">{{recebimento.descricao}}</td>
          <td style="white-space: nowrap;">{{recebimento.planoPagamento.descricao}}</td>
          <td style="white-space: nowrap;text-align: center;">{{ recebimento.dataEmissao  | date:'dd/MM/yyyy'}}</td>
          <td style="white-space: nowrap;text-align: center;">{{ recebimento.valorTotal | currency:' ':false}}</td>
          <td style="text-align: center;white-space: nowrap;">
            <div class="btn-group">
              <button (click)="abrirTemplateModalDetalharRecebimento(recebimento, this.produtoItem)"
                tooltip="Detalhar Recebimento" class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!recebimentos">
        <tr colspan="7" class="text-center"></tr>
        <h4>
          Nenhum Recebimento encontrado!
        </h4>
      </tfoot>
    </table>

  </div>

</div>

<app-template-modal id="pagamentos" *ngIf="this.getTemplateModalRecebimento() == true"
[templateModalService]="this.templateModalRecebimentoService" [component]="this.componentModal" [width]="80"
[inputs]="this.inputs"></app-template-modal>

<app-template-modal id="detalharRecebimento" *ngIf="this.getTemplateModalDetalharRecebimento() == true"
[templateModalService]="this.templateModalDetalharRecebimentoService" [component]="this.componentModal" [width]="80"
[inputs]="this.inputs"></app-template-modal>
