<h2>Autorizacões</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">

    <table class="container-fluid table table-striped table-bordered mt-4">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Data/Hora Solicitado</th>
          <th>Solicitante</th>
          <th>Formulário</th>
          <th>Ação Solicitada</th>
          <th>Objeto</th>
          <th>Autorizador</th>
          <th>Data/Hora Autorizado</th>
          <th>Autorizado</th>
          <th style="text-align: center;">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="autorizacoes && autorizacoes.length">
        <tr
          *ngFor="let autorizacao of autorizacoes | paginate: { itemsPerPage: 30, currentPage: paginaAtual, totalItems: totalRegistros };">
          <td>{{ autorizacao.id }}</td>
          <td style="white-space: nowrap;">{{ autorizacao.dataHoraSolicitado | date:'dd/MM/yyyy HH:mm'}}</td>
          <td style="white-space: nowrap;">{{ autorizacao.solicitante.nomeCompleto }}</td>
          <td style="white-space: nowrap;">{{ autorizacao.formulario }}</td>
          <td style="white-space: nowrap;">{{ autorizacao.acao }}</td>
          <td style="white-space: nowrap;">{{ autorizacao.objeto }}</td>
          <td style="white-space: nowrap;">{{ (autorizacao.autorizador) ? autorizacao.autorizador.nomeCompleto : ''}}</td>
          <td style="white-space: nowrap;">{{ autorizacao.dataHoraAutorizado | date:'dd/MM/yyyy HH:mm'}}</td>
          <td style="white-space: nowrap;text-align: center;">
              <span style="margin-top:0px;" *ngIf="autorizacao.autorizador && autorizacao.autorizado == 0"
                class="label label-danger">NÃO</span>
              <span style="margin-top:0px;" *ngIf="autorizacao.autorizador && autorizacao.autorizado == 1"
                class="label label-success">SIM</span>
              <span style="margin-top:0px;" *ngIf="!autorizacao.autorizador && autorizacao.autorizado == 0"
                class="label label-warning">PENDENTE</span>
            </td>
          <td style="text-align: center;white-space: nowrap;">
            <div class="btn-group">
              <a *ngIf="this.editar == true || this.visualizar == true" (click)="abrirTemplateAutorizacao(autorizacao.id)" tooltip="Editar/Perfil"
                class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
              <a *ngIf="autorizacao.formulario == 'VENDA' && autorizacao.acao == 'GERAR' && autorizacao.objeto == 'PEDIDO'"
              [routerLink]="['/movimentos/vendas','editar', autorizacao.formularioId]" tooltip="Ir para o Formulário"
                class="btn btn-sm btn-success">
                <i class="fa fa-shopping-cart"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!autorizacoes">
        <tr colspan="7" class="text-center"></tr>
        <h4>
          Nenhum autorizacao encontrado!
        </h4>
      </tfoot>
    </table>
    Total de Registros: {{totalRegistros}}
    <div class="text-center">
      <pagination-controls (pageChange)="paginaAtual = $event" name="autorizacaoPagination" previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
    </div>
  </div>
</div>

<app-autorizacao-template [idAutorizacao]="this.idAutorizacao" *ngIf="getTemplateAutorizacao() == true"></app-autorizacao-template>