<h2>Venda (Custo do Produto de Revenda)</h2>
<h5>Cliente: {{getNomeCliente()}}</h5>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">
    <tabset>

      <tab heading="Geral" style="margin-top: 10px;">

        <form [formGroup]="cadastroForm" class="mt-3">
          <div class="row">
            <div class="form-group col-md-2">
              <label>Data Negociação: </label>
              <input *ngIf="disabledDataNegociacao() == true" type="text" class="form-control"
                formControlName="dataNegociacao" [ngModel]="cadastroForm.get('dataNegociacao').value" bsDatepicker
                [bsConfig]="this.bsConfig" disabled />

              <input *ngIf="disabledDataNegociacao() == false" type="text" class="form-control"
                formControlName="dataNegociacao" [ngModel]="cadastroForm.get('dataNegociacao').value" bsDatepicker
                [bsConfig]="this.bsConfig" />
            </div>

            <div class="form-group col-md-2">
              <label>Data Finalizado: </label>
              <input type="text" class="form-control" formControlName="dataFinalizado"
                [ngModel]="cadastroForm.get('dataFinalizado').value" bsDatepicker [bsConfig]="this.bsConfig" disabled />
            </div>

            <div class="form-group col-md-3">
              <label>Empresa</label>
              <ng-select disabled style="text-transform: uppercase" [clearable]="false" [items]="empresas"
                bindLabel="nomeFantasia" bindValue="id" [(ngModel)]="empresaIdSelecionado" formControlName="empresasId">
              </ng-select>
            </div>

            <div class="form-group col-md-2">
              <label>Vendedor</label>
              <ng-select style="text-transform: uppercase" [clearable]="false" [items]="vendedores" bindLabel="nome"
                bindValue="id" [(ngModel)]="vendedorIdSelecionado" formControlName="vendedorId">
              </ng-select>
            </div>

            <div class="form-group col-md-3">
              <label>Cliente</label>
              <ng-select style="text-transform: uppercase" [clearable]="false" [items]="clientes"
                bindLabel="nomeFantasia" bindValue="id" [(ngModel)]="clienteIdSelecionado" formControlName="clientesId">
              </ng-select>
            </div>

            <div class="form-group col-md-3">
              <label>Produto</label>
              <ng-select style="text-transform: uppercase" [clearable]="false" [items]="produtos" bindLabel="descricao"
                bindValue="id" [(ngModel)]="produtoIdSelecionado" formControlName="produtoId">
              </ng-select>
            </div>

            <div class="form-group col-md-2">
              <label>Status:</label>
              <ng-select [clearable]="false" *ngIf="disabledStatus() == true"
                (change)="setarDataFinalizado(cadastroForm.get('status').value)" [items]="status"
                [(ngModel)]="cadastroForm.get('status').value" formControlName="status" disabled>
              </ng-select>
            </div>

            <button *ngIf="this.gerarPedido == true && !this.autorizadoGerarPedido" style="position:relative;margin-top:15px;" (click)="solicitarAutorizacao()"
              tooltip="Solicitar Autorização" [disabled]="verificarValorPrevistoLancados()" class="btn btn-lg btn-warning">
              &nbsp;Solicitar Autorização
            </button>

            <button *ngIf="this.gerarPedido == true" style="position:relative;margin-top:15px;margin-left:15px;" (click)="gerarPDF()"
              tooltip="Gerar Pedido de Venda" class="btn btn-lg btn-success" [disabled]="!autorizadoGerarPedido">
              &nbsp;Gerar Pedido
            </button>
          </div>
        </form>
      </tab>
      <tab heading="Receitas e Despesas" style="margin-top: 10px;">

        <form [formGroup]="cadastroForm" class="mt-3">
          <hr style="width: 100%">
          <div class="row">

            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header with-border">
                  <i class="fa fa-share"></i>
                  <h3 class="box-title">Receitas</h3>
                </div>
                <div class="box-body">

                  <table class="table table-responsive table-bordered ">
                    <thead>
                      <tr>
                        <th>Descrição</th>
                        <th style="text-align: center;">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of vendaItensEntrada">
                        <td>{{item.descricao}}</td>
                        <td style="white-space: nowrap;text-align: center;">
                          <div class="btn-group">
                            <a *ngIf="this.editarValorPrevisto == true"
                              (click)="abrirFormValorPrevisto(item.id, item.descricao, templateValorPrevisto)"
                              tooltip="Valor Previsto" class="btn btn-sm btn-warning">
                              <i class="fa fa-usd"></i>
                            </a>

                            <a *ngIf="this.editarValorRealizado == true && verificarPrevisto(item.vendaValorPrevisto)"
                              (click)="abrirRecebimentosVenda(item)" tooltip="Valor Realizado"
                              class="btn btn-sm btn-info">
                              <i class="fa fa-usd"></i>
                            </a>
                            <a *ngIf="this.editarValorRealizado == true && !verificarPrevisto(item.vendaValorPrevisto)"
                              tooltip="Valores Realizado(Previsão deve ser lançada antes do Valor Realizado)"
                              class="btn btn-sm btn-info" disabled>
                              <i class="fa fa-usd"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>

          <hr style="width: 100%">
          <div class="row">
            <div class="col-md-6">

              <div class="box box-danger">
                <div class="box-header with-border">
                  <i class="fa fa-reply"></i>
                  <h3 class="box-title">Despesas(COMISSÕES)</h3>
                </div>
                <div class="box-body">
                  <table class="table table-responsive table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Descrição</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of vendaItensSaidaComissao">
                        <td>{{item.descricao}}</td>

                        <td style="white-space: nowrap;text-align: center;">
                          <span style="margin-top:0px;" *ngIf="verificarPrevisto(item.vendaValorPrevisto) == true &&
                          verificarValorPrevistoMaiorZero(item.vendaValorPrevisto) == false"
                            class="label label-danger">X</span>
                          <span style="margin-top:0px;" *ngIf="verificarPagamento(item.vendaValorRealizado) == true &&
                          verificarValorPrevistoMaiorZero(item.vendaValorPrevisto) == true"
                            class="label label-success">PAGO</span>
                          <span style="margin-top:0px;" *ngIf="verificarPagamento(item.vendaValorRealizado) == false &&
                          verificarValorPrevistoMaiorZero(item.vendaValorPrevisto) == true"
                            class="label label-warning">PENDENTE</span>
                        </td>
                        <td style="white-space: nowrap;text-align: center;">
                          <div class="btn-group">
                            <a *ngIf="this.editarValorPrevisto == true"
                              (click)="abrirFormValorPrevisto(item.id, item.descricao, templateValorPrevisto)"
                              tooltip="Valor Previsto" class="btn btn-sm btn-warning">
                              <i class="fa fa-usd"></i>
                            </a>

                            <a *ngIf="this.editarValorRealizado == true && verificarPrevisto(item.vendaValorPrevisto)"
                              tooltip="Valores Realizado" (click)="abrirPagamentosVenda(item)"
                              class="btn btn-sm btn-info">
                              <i class="fa fa-usd"></i>
                            </a>
                            <a *ngIf="this.editarValorRealizado == true && !verificarPrevisto(item.vendaValorPrevisto)"
                              tooltip="Valores Realizado(Previsão deve ser lançada antes do Valor Realizado)"
                              class="btn btn-sm btn-info" disabled>
                              <i class="fa fa-usd"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="col-md-6">

              <div class="box box-danger">
                <div class="box-header with-border">
                  <i class="fa fa-reply"></i>
                  <h3 class="box-title">Despesas(GASTOS)</h3>
                </div>
                <div class="box-body">
                  <table class="table table-responsive table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Descrição</th>

                        <th style="text-align: center;">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of vendaItensSaidaGasto">
                        <td>{{item.descricao}}</td>
                        <td style="white-space: nowrap;text-align: center;">
                          <div class="btn-group">
                            <a *ngIf="this.editarValorPrevisto == true"
                              (click)="abrirFormValorPrevisto(item.id, item.descricao, templateValorPrevisto)"
                              tooltip="Valor Previsto" class="btn btn-sm btn-warning">
                              <i class="fa fa-usd"></i>
                            </a>

                            <a *ngIf="this.editarValorRealizado == true && verificarPrevisto(item.vendaValorPrevisto)"
                              tooltip="Valores Realizado" (click)="abrirPagamentosVenda(item)"
                              class="btn btn-sm btn-info">
                              <i class="fa fa-usd"></i>
                            </a>
                            <a *ngIf="this.editarValorRealizado == true && !verificarPrevisto(item.vendaValorPrevisto)"
                              tooltip="Valores Realizado(Previsão deve ser lançada antes do Valor Realizado)"
                              class="btn btn-sm btn-info" disabled>
                              <i class="fa fa-usd"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

        </form>
      </tab>

      <tab *ngIf="this.visualizarResumo == true" heading="Resumo" style="margin-top: 10px;">
        <app-resumo-venda></app-resumo-venda>
      </tab>
    </tabset>
  </div>
</div>
<button *ngIf="this.editar == true" style="position:relative;" [disabled]="!cadastroForm.valid"
  (click)="salvarAlteracoes()" tooltip="Salvar" class="btn btn-lg btn-primary">
  &nbsp;Salvar Alterações
</button>


<div bsModal #templateValorPrevisto="bs-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Valor Previsto ({{(produtoItem) ? produtoItem.descricao : ''}})
        </h4>
        <button type="button" class="close pull-right" (click)="templateValorPrevisto.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">

          <div class="form-group col-md-12">
            <form [formGroup]="cadastroValorPrevistoForm">
              <div class="input-group">
                <input class="form-control" currencyMask [(ngModel)]="valorPrevistoPipe" formControlName="valor"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="templateValorPrevisto.hide()">
          Fechar
        </button>
        <button *ngIf="!cadastroValorPrevistoForm.valid || valorPrevistoDisabled == true" class="btn btn-primary"
          (click)="salvarValorPrevisto(templateValorPrevisto)" disabled>
          Salvar
        </button>
        <button *ngIf="cadastroValorPrevistoForm.valid && valorPrevistoDisabled == false" class="btn btn-primary"
          (click)="salvarValorPrevisto(templateValorPrevisto)">
          Salvar
        </button>
      </div>
    </div>

  </div>
</div>

<app-pagamentos-venda [produtoItem]="this.produtoItem" [idVenda]="this.idVenda" *ngIf="getPagamentosVenda() == true">
</app-pagamentos-venda>
<app-recebimentos-venda [produtoItem]="this.produtoItem" [vendaClienteId]="this.vendaClienteId" [idVenda]="this.idVenda"
  *ngIf="getRecebimentosVenda() == true"></app-recebimentos-venda>