<div *ngIf="this.editar == true || this.visualizar == true">
  <div>
    <label style="font-weight: bold;font-size:20px;">Cliente:</label>&nbsp;
    <ng-template #myPopover>
      <label>Razão Social: {{(getCliente()) ? getCliente().razaoSocial : ''}}</label>
    </ng-template>

    <a role="button" [routerLink]="" style="font-weight: normal;font-size:20px;" [popover]="myPopover"
      popoverTitle="Informações do Cliente" popoverPlacement="rigth"
      (click)="abrirTemplateModalCliente(editarClienteComponent, venda.clientesId)" triggers="mouseenter:mouseleave">
      {{(getCliente()) ? getCliente().nomeFantasia : ''}}
    </a>
  </div>
  <hr width="100%">

  <div class="box box-primary">
    <div class="box-header with-border">
      <tabset>

        <tab heading="Geral" style="margin-top: 10px;">

          <form [formGroup]="cadastroForm" class="mt-3">

            <div class="row">
              <div class="col-md-12">
                <div class="box box-success {{this.statusBoxInformacoes}}">
                  <div class="box-header with-border">
                    <h3 class="box-title">Informações da Venda</h3>

                    <div class="box-tools float-right">
                      <button type="button" class="btn btn-box-tool" (click)="alterarStatusBoxInformacoes()"><i
                          class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="form-group col-md-1">
                        <label>Número</label>
                        <input type="text" class="form-control" formControlName="numeroAno" disabled />
                      </div>

                      <div class="form-group col-md-2">
                        <label>Data Negociação </label>
                        <input *ngIf="disabledDataNegociacao() == true" type="text" class="form-control"
                          formControlName="dataNegociacao" [ngModel]="cadastroForm.get('dataNegociacao').value"
                          bsDatepicker #dp="bsDatepicker" />

                        <input *ngIf="disabledDataNegociacao() == false" type="text" class="form-control"
                          formControlName="dataNegociacao" [ngModel]="cadastroForm.get('dataNegociacao').value"
                          bsDatepicker #dp="bsDatepicker" />

                        <div
                          *ngIf="cadastroForm.get('dataNegociacao').hasError('required') &&cadastroForm.get('dataNegociacao').touched"
                          class="invalid-feedback d-block">
                          Campo Obrigatório.
                        </div>
                      </div>

                      <div class="form-group col-md-2">
                        <label>Data Finalizado </label>
                        <input type="text" class="form-control" formControlName="dataFinalizado"
                          [ngModel]="cadastroForm.get('dataFinalizado').value" bsDatepicker
                          #dp="bsDatepicker" />
                      </div>

                      <div class="form-group col-md-3">
                        <label>Empresa</label>
                        <ng-select style="text-transform: uppercase" [clearable]="false" [items]="empresas"
                          bindLabel="nomeFantasia" bindValue="id" [(ngModel)]="empresaIdSelecionado"
                          formControlName="empresasId">
                        </ng-select>
                      </div>

                      <div class="form-group col-md-2">
                        <label>Vendedor</label>
                        <ng-select style="text-transform: uppercase" [clearable]="false" [items]="vendedores"
                          bindLabel="nome" bindValue="id" [(ngModel)]="vendedorIdSelecionado"
                          formControlName="vendedorId">
                        </ng-select>
                      </div>
                    </div>
                    <div class=row>

                      <div class="form-group col-md-3">
                        <label>Cliente</label>
                        <ng-select style="text-transform: uppercase" [clearable]="false" [items]="clientes"
                          bindLabel="nomeFantasia" bindValue="id" [(ngModel)]="clienteIdSelecionado"
                          formControlName="clientesId">
                        </ng-select>
                      </div>

                      <div class="form-group col-md-3">
                        <label>Produto</label>
                        <ng-select style="text-transform: uppercase" [clearable]="false" [items]="produtos"
                          bindLabel="descricao" bindValue="id" [(ngModel)]="produtoIdSelecionado"
                          formControlName="produtoId">
                        </ng-select>
                      </div>

                      <div class="form-group col-md-3">
                        <label style="white-space: nowrap;">Plano de Pagamento</label>
                        <ng-select style="text-transform: uppercase" [items]="planosPagamento" bindLabel="descricao"
                          required bindValue="id" [clearable]="false" [(ngModel)]="planoPagamentoIdSelecionado"
                          formControlName="planoPagamentoId">
                        </ng-select>
                      </div>

                      <div class="form-group col-md-2">
                        <label>Status</label>
                        <ng-select [clearable]="false" (change)="setarDataFinalizado()"
                         bindLabel="descricao" required bindValue="id"  [items]="vendaStatus"
                          [(ngModel)]="vendaStatusIdSelecionado" formControlName="vendaStatusId">
                        </ng-select>
                      </div>

                    </div>

                    <div class="row ">
                      <div class="form-group col-md-7">
                        <label>Observações</label>
                        <textarea class="form-control" formControlName="observacoes" rows="2"></textarea>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div *ngIf="this.venda">
            <button
              *ngIf="this.editar == true || this.editarCampoDataNegociacao == true || this.editarCampoStatus == true"
              style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid"
              (click)="salvarAlteracoes()" tooltip="Salvar ABA GERAL" class="btn btn-lg btn-primary">
              &nbsp;Salvar Alterações [GERAL]
            </button>

            <button *ngIf="this.gerarPedido == true && this.autorizadoGerarPedido == false"
              style="position:relative;margin-bottom: 15px;margin-left:15px;" (click)="solicitarAutorizacao()"
              tooltip="Solicitar Autorização" [disabled]="verificarValorPrevistoLancados()"
              class="btn btn-lg btn-warning">
              &nbsp;Solicitar Autorização
            </button>

            <button
              *ngIf="this.gerarPedido == true && this.autorizadoGerarPedido == true"
              style="position:relative;margin-bottom: 15px;margin-left:15px;" (click)="gerarPDF()"
              tooltip="Gerar Pedido de Venda" class="btn btn-lg btn-success">
              &nbsp;Gerar Pedido
            </button>
          </div>
        </tab>

        <tab heading="Logs Status" style="margin-top: 10px;">
          <app-logs-status-venda *ngIf="this.venda" [logs]="this.venda.vendaLogsStatus" ></app-logs-status-venda>
        </tab>

        <tab heading="Check List" style="margin-top: 10px;">
          <app-check-list-venda *ngIf="this.venda" [venda]="this.venda" [pedido]="false"></app-check-list-venda>
        </tab>

        <tab heading="Ações" style="margin-top: 10px;">
          
        </tab>

        <tab *ngIf="this.visualizarAbaFinanceiro == true" heading="Financeiro" style="margin-top: 10px;">
          <app-financeiro-venda *ngIf="this.venda" [venda]="this.venda"
            [cadastrarValorRealizado]="this.cadastrarValorRealizado"
            [cadastrarValorPrevisto]="this.cadastrarValorPrevisto"
            [vendaFinalizada]="(this.venda.vendaStatusId == this.vendaStatusFinalConfigId) ? true : false">
          </app-financeiro-venda>
        </tab>

        <tab *ngIf="this.visualizarAbaResultado == true" heading="Resultado" style="margin-top: 10px;">
          <app-resultado-venda *ngIf="this.venda" [venda]="this.venda"></app-resultado-venda>
        </tab>

      </tabset>
    </div>
  </div>
</div>
<div *ngIf="this.editar == false && this.visualizar == false">
  Você não tem permissão.
</div>
<app-template-modal id="cliente" *ngIf="this.getTemplateModalCliente() == true"
  [templateModalService]="this.templateModalClienteService" [component]="this.componentModal" [width]="80"
  [inputs]="this.inputs"></app-template-modal>

<app-pedido-venda *ngIf="getPedidoVenda() == true && this.venda" [venda]="this.venda"></app-pedido-venda>