<h2>Relatório Vendas</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">
    <tabset>
      <tab heading="Geral" style="margin-top: 10px;">

        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="fa fa-spinner"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">EM NEGOCIAÇÃO</span>
                <span class="info-box-number" style="font-size:40px;">{{this.informacoes.quantidadeEmNegociacao}}</span>
              </div>
            </div>
          </div>

          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-download"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">EM IMPLANTAÇÃO</span>
                <span class="info-box-number"
                  style="font-size:40px;">{{this.informacoes.quantidadeEmImplantacao}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">FINALIZADO</span>
                <span class="info-box-number" style="font-size:40px;">{{this.informacoes.quantidadeFinalizado}}</span>
              </div>
            </div>
          </div>

        </div>

        <div class="row" style="height: 300px;">
          <div class="col-md-8">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Grafico Geral</h3>
              </div>
              <div class="box-body">
                <p class="text-center">
                  <strong>Vendas: 01/01/2019 - 31/12/2019</strong>
                </p>
                <div class="chart">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-10 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon"><i class="fa fa-shopping-cart"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Total de Vendas</span>
                    <span class="info-box-number" style="font-size:35px;">{{this.informacoes.quantidadeTotal}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="row">
              <div class="col-sm-10 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Valor Total</span>
                    <span class="info-box-number"
                      style="font-size:35px;">{{this.informacoes.valorTotalReceitas | currency:'BRL':true}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="row">
              <div class="col-sm-10 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Valor Médio</span>
                    <span class="info-box-number"
                      style="font-size:35px;">{{this.informacoes.valorMedio | currency:'BRL':true}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="Resumo" style="margin-top: 10px;">
        <div class="row">

          <div class="form-group col-md-3">
            <label>Selecione a Data:</label>
            <input type="text" class="form-control" name="dataFiltro" (bsValueChange)="setDataFiltro($event)"
              [bsConfig]="this.bsConfig" bsDaterangepicker />
          </div>

          <div style="margin-right: 15px; margin-top: 24px;">
            <a (click)="getVendas(this.dataPeriodo)" class="btn btn-primary">
              <i class="fa fa-search"></i>&nbsp; Gerar Relatório
            </a>
          </div>
        </div>

      </tab>
    </tabset>
  </div>
</div>