<h2>Relatório Vendas</h2>
<hr width="100%">
<div class="box box-primary">
  <div class="box-header with-border">
    <div class="row">

      <div class="form-group col-md-3">
        <label>Selecione a Data:</label>
        <input type="text" class="form-control" name="dataFiltro" (bsValueChange)="setDataFiltro($event)"
          [bsConfig]="this.bsConfig" bsDaterangepicker />
      </div>

      <div style="margin-right: 15px; margin-top: 24px;">
        <a [routerLink]="" (click)="getVendas(this.dataPeriodo)" class="btn btn-primary">
          <i class="fa fa-search"></i>&nbsp; Gerar Relatório
        </a>
      </div>
    </div>
    <tabset>
      <tab heading="Geral" style="margin-top: 10px;">

        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa fa-spinner"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">EM NEGOCIAÇÃO</span>
                <span class="info-box-number" style="font-size:40px;">{{this.relatorioVendas.qtdEmNegociacao}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fa fa-download"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">A IMPLANTAR</span>
                <span class="info-box-number" style="font-size:40px;">{{this.relatorioVendas.qtdAImplantar}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fa fa-download"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">EM IMPLANTAÇÃO</span>
                <span class="info-box-number" style="font-size:40px;">{{this.relatorioVendas.qtdEmImplantacao}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">FINALIZADO</span>
                <span class="info-box-number" style="font-size:40px;">{{this.relatorioVendas.qtdFinalizado}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon"><i class="fa fa-handshake"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Total de Vendas Negociadas</span>
                <span class="info-box-number" style="font-size:35px;">{{this.relatorioVendas.qtdTotal}}</span>
              </div>
            </div>
          </div>
        </div>


      </tab>

      <tab heading="Resultado" style="margin-top: 10px;">



        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Grafico Geral</h3>
          </div>
          <div class="box-body">
            <div class="form-inline">
              <div class="col-md-8">
                <p class="text-center">
                  <strong>Vendas Negociadas entre: {{this.dataPeriodo.dataInicialPTBR}} -
                    {{this.dataPeriodo.dataFinalPTBR}}</strong>
                </p>
                <div class="chart">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Valor Bruto de Receitas</span>
                        <span class="info-box-number"
                          style="font-size:35px;">{{this.relatorioVendas.valorBrutoReceitas | currency:'BRL':true}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Valor Bruto de Despesas</span>
                        <span class="info-box-number"
                          style="font-size:35px;">{{this.relatorioVendas.valorBrutoDespesas | currency:'BRL':true}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Valor Líquido de Vendas</span>
                        <span class="info-box-number"
                          style="font-size:35px;">{{this.relatorioVendas.valorLiquidoResultado | currency:'BRL':true}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Valor Médio</span>
                        <span class="info-box-number"
                          style="font-size:35px;">{{this.relatorioVendas.valorMedio | currency:'BRL':true}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <div class="info-box">
                      <span class="info-box-icon"><i class="fa fa-dollar"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Valor Top</span>
                        <span class="info-box-number"
                          style="font-size:35px;">{{this.relatorioVendas.valorTop | currency:'BRL':true}}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </tab>
    </tabset>
  </div>
</div>