<h2>Relatório Vendas</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">
    <tabset>
      <tab heading="Geral" style="margin-top: 10px;">

        <div class="row">
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="fa fa-spinner"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">EM NEGOCIAÇÃO</span>
                <span class="info-box-number">{{this.informacoes.quantidadeEmNegociacao}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
  
          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
  
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">EM IMPLANTAÇÃO</span>
                <span class="info-box-number">{{this.informacoes.quantidadeEmImplantacao}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">FINALIZADO</span>
                <span class="info-box-number">{{this.informacoes.quantidadeFinalizado}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <div class="row" style="height: 300px;">
          <div class="col-md-8">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Grafico Geral</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <p class="text-center">
                  <strong>Vendas: 01/01/2019 - 31/12/2019</strong>
                </p>
                <div class="chart" >
                  <canvas  baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </tab>
      <tab heading="Resumo" style="margin-top: 10px;">
        <div class="row">

          <div class="form-group col-md-3">
            <label>Selecione a Data:</label>
            <input type="text" class="form-control" name="dataFiltro" (bsValueChange)="setDataFiltro($event)"
              [bsConfig]="this.bsConfig" bsDaterangepicker />
          </div>

          <div style="margin-right: 15px; margin-top: 24px;">
            <a (click)="getVendas(this.dataPeriodo)" class="btn btn-primary">
              <i class="fa fa-search"></i>&nbsp; Gerar Relatório
            </a>
          </div>
        </div>

      </tab>
    </tabset>
  </div>
</div>