:host >>> .popover {
    max-width: 100% !important;
}
:host >>> .popover>.arrow:after {
    max-width: 100% !important;
}
.celulaVermelha {
    background-color: rgba(240, 0, 0, 0.1);
}

.celulaVerde {
    background-color: rgba(133, 240, 133, 0.1);
}

.celulaAzul {
    background-color: rgba(31, 136, 255, 0.1);
}

