<div class="col-md-5">
  {{somar()}}
  <div class="box box-info">
    <table class="table  table-bordered" style="table-layout:fixed;">
      <thead class="thead-light">
        <tr>
          <th>Descrição</th>
          <th>Previsto</th>
          <th>Realizado</th>
          <th>Diferença</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size:20px;max-width:60px;">Receitas</td>
          <td style="vertical-align: middle;">{{valorTotalReceitasPrevisto | currency:'BRL':true}}</td>
          <td style="vertical-align: middle;">{{valorTotalReceitasRealizado | currency:'BRL':true}}</td>
          <td style="vertical-align: middle;">
            {{calcularDiferenca(valorTotalReceitasRealizado, valorTotalReceitasPrevisto) | currency:'BRL':true}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <hr style="width: 100%;">

  <div class="box box-danger">
    <table class="table  table-bordered " style="table-layout:fixed;">
      <thead class="thead-light">
        <tr>
          <th>Descrição</th>
          <th>Previsto</th>
          <th>Realizado</th>
          <th>Diferença</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size:20px;">Comissões</td>
          <td style="vertical-align: middle;">{{valorTotalDespesasComissaoPrevisto | currency:'BRL':true}}</td>
          <td style="vertical-align: middle;">{{valorTotalDespesasComissaoRealizado | currency:'BRL':true}}</td>
          <td style="vertical-align: middle;">
            {{calcularDiferenca(valorTotalDespesasComissaoRealizado, valorTotalDespesasComissaoPrevisto) | currency:'BRL':true}}
          </td>
        </tr>
      </tbody>
    </table>

    <hr style="width: 100%;">
    <div class="box box-danger">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Descrição</th>
            <th>Previsto</th>
            <th>Realizado</th>
            <th>Diferença</th>
          </tr>
        </thead>
        <tbody>
          <tr style="vertical-align: middle;">
            <td style="font-size:20px;">Gastos</td>
            <td style="vertical-align: middle;">{{valorTotalDespesasGastoPrevisto | currency:'BRL':true}}</td>
            <td style="vertical-align: middle;">{{valorTotalDespesasGastoRealizado | currency:'BRL':true}}</td>
            <td style="vertical-align: middle;">
              {{calcularDiferenca(valorTotalDespesasGastoRealizado, valorTotalDespesasGastoPrevisto) | currency:'BRL':true}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-7">

  <div class="md-2">
    <div class="box box-info">
      <table class="table  table-bordered">
        <thead class="thead-light">
          <tr>
            <th style=" font-size:40px;text-align: center;">
              <span *ngIf="verificarMaiorZero(calcularResultado()) == true"
                class="label label-success">LUCRO
              </span>
              <span *ngIf="verificarMaiorZero(calcularResultado()) == false"
                class="label label-danger">PREJUÍZO
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="vertical-align: middle;">
            <td style="text-align: center;font-size:30px;">
              {{calcularResultado() | currency:'BRL':true}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="col-md-3">
  <div class="chart" style="width: 400px;height: 200px;">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
      [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
    </canvas>
  </div>
</div>
<div class="col-md-4">
  <div class="chart" style="width: 350px;margin-left:55px;margin-top: 20px;height: 200px;">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>
</div>