<app-nav></app-nav>
<link rel="icon" type="image/x-icon" href="favicon.ico">
<div style="margin: auto;width:80%;">
    <router-outlet></router-outlet>
</div>
<button type="button" style="position:fixed;bottom:10%;left:2%;" 
tooltip="Novas ideias!" (click)="templateIdeia.show()" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-lightbulb"></i>
</button>

<div bsModal #templateIdeia="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Novo Grupo
        </h4>
        <button type="button" class="close pull-right" (click)="templateIdeia.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="container" [formGroup]="cadastroIdeiaForm">
          <input type="hidden" class="form-control" formControlName="id" value="0"  />

          <div class="form-row">
            <div class="form-group col-md-12">
                <label>Ideia: (*)</label>
                <textarea class="form-control"
                  [ngClass]="{'is-invalid':cadastroIdeiaForm.get('ideia').errors &&cadastroIdeiaForm.get('ideia').touched}"
                  formControlName="ideia" rows="4"></textarea>
                <div
                  *ngIf="cadastroIdeiaForm.get('ideia').hasError('required') &&cadastroIdeiaForm.get('ideia').touched"
                  class="invalid-feedback">
                  Campo é obrigatório.
                </div>
              </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="templateIdeia.hide()">
          Fechar
        </button>

        <button class="btn btn-primary" [disabled]="!cadastroIdeiaForm.valid" (click)="cadastrarIdeia(templateIdeia)">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>