<html>
  <body class='hold-transition skin-blue sidebar-mini {{this.sidebar}}'>
    <div class="wrapper">
      <header class="main-header ">

        <a routerlink="dashboard" class="logo">
          <span class="logo-mini"><b></b>VMS</span>
          <span class="logo-lg"><b>Virtual</b>Web</span>
        </a>

        <nav class="navbar navbar-static-top">

          <a class="sidebar-toggle" (click)="alterarSidebar()" role="button">
            <span class="sr-only"></span>
          </a>

          <div class="navbar-custom-menu">
            <ul *ngIf="verificarLogIn()" class="nav navbar-nav">

                <li class="dropdown messages-menu" dropdown>
                    <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user-friends"></i>
                      <span *ngIf="getQtdNotificacoes() > 0" class="label label-warning">{{getQtdNotificacoes()}}</span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu" style="width: 400px;">
    
                    <li class="header">Você tem {{getQtdNotificacoes()}} Notificações</li>
                    <li>
                      <ul class="menu">
                        <div *ngFor="let notificacao of notificacoes">
                          <div *ngIf="notificacao.visto == 0">
                            <li (click)="setarVistoNotificacao(notificacao)" style="cursor:pointer;">
                              <a>
                                <h4 style="margin-left:5px;">{{notificacao.titulo}}<small style="margin-right:5px;"
                                    class="pull-right">
                                    <i class="fa fa-clock-o "></i>
                                    [{{notificacao.dataHora | date:'dd/MM/yyyy HH:mm:ss'}}]</small>
                                </h4>
                                <p style="margin-left:10px;">{{notificacao.mensagem}}</p>
                              </a>
                            </li>
                          </div>
                          <div *ngIf="notificacao.visto == 1">
                            <li class="bg-gray"
                              style="border-width: thin;border-style: solid;border-color: rgb(0, 0, 0);cursor:default;">
                              <a>
                                <h4 style="margin-left:5px;">{{notificacao.titulo}}
                                  <small style="margin-right:5px;" class="pull-right"><i class="fa fa-clock-o "></i>
                                    [{{notificacao.dataHora | date:'dd/MM/yyyy HH:mm:ss'}}]</small>
                                </h4>
                                <p style="margin-left:10px;">{{notificacao.mensagem}}</p>
                              </a>
                            </li>
                          </div>
                        </div>
                      </ul>
                    </li>
                    <li class="footer"><a></a></li>
                  </div>
                </li>

              <li class="dropdown messages-menu" dropdown>
                <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span *ngIf="getQtdNotificacoes() > 0" class="label label-warning">{{getQtdNotificacoes()}}</span>
                </a>
                <div *dropdownMenu class="dropdown-menu" style="width: 400px;">

                <li class="header">Você tem {{getQtdNotificacoes()}} Notificações</li>
                <li>
                  <ul class="menu">
                    <div *ngFor="let notificacao of notificacoes">
                      <div *ngIf="notificacao.visto == 0">
                        <li (click)="setarVistoNotificacao(notificacao)" style="cursor:pointer;">
                          <a>
                            <h4 style="margin-left:5px;">{{notificacao.titulo}}<small style="margin-right:5px;"
                                class="pull-right">
                                <i class="fa fa-clock-o "></i>
                                [{{notificacao.dataHora | date:'dd/MM/yyyy HH:mm:ss'}}]</small>
                            </h4>
                            <p style="margin-left:10px;">{{notificacao.mensagem}}</p>
                          </a>
                        </li>
                      </div>
                      <div *ngIf="notificacao.visto == 1">
                        <li class="bg-gray"
                          style="border-width: thin;border-style: solid;border-color: rgb(0, 0, 0);cursor:default;">
                          <a>
                            <h4 style="margin-left:5px;">{{notificacao.titulo}}
                              <small style="margin-right:5px;" class="pull-right"><i class="fa fa-clock-o "></i>
                                [{{notificacao.dataHora | date:'dd/MM/yyyy HH:mm:ss'}}]</small>
                            </h4>
                            <p style="margin-left:10px;">{{notificacao.mensagem}}</p>
                          </a>
                        </li>
                      </div>
                    </div>
                  </ul>
                </li>
                <li class="footer"><a></a></li>
              </div>
            </li>

            <li class="dropdown user user-menu" dropdown>
              <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{getUrlUsuarioLogadoFotoPerfil()}}" onerror="this.onerror=null;this.src='./../assets/img/user-default.png';"
                class="user-image" alt="img">
                <span class="hidden-xs">{{usuarioNome()}} </span>
              </a>
              <div *dropdownMenu class="dropdown-menu">
                <li class="user-header">
                  <img src="{{getUrlUsuarioLogadoFotoPerfil()}}" onerror="this.onerror=null;this.src='./../assets/img/user-default.png';"
                  class="img-circle" alt="img">

                  <p>
                    {{usuarioNome()}}
                    <small></small>
                  </p>
                </li>
                <li class="user-footer">
                  <div class="footer">
                    <a [routerLink]="['/usuarios','editar', usuarioId()]" class="btn btn-default btn-flat">Perfil</a>
                    <a [routerLink]="['/usuarios','editar','senha', usuarioId()]" class="btn btn-default btn-flat">Alterar
                      Senha</a>
                    <a (click)="logout()" class="btn btn-default btn-flat">Sair</a>
                  </div>
                </li>
              </div>
            </li>
            <li>
              <a data-toggle="control-sidebar"><i></i></a>
            </li>    
          </ul>
        </div>
      </nav>
    </header>
    <aside *ngIf="verificarLogIn()" class="main-sidebar">
      <section class="sidebar" [ngStyle]="{'width': 0}">
        <nav id="sidebar" class="sidebar {{this.sidebar}}">
          <div class="sidebar-content">
            <div class="user-panel">
              <div class="pull-left image">
                <img src="{{getUrlUsuarioLogadoFotoPerfil()}}" onerror="this.onerror=null;this.src='./../assets/img/user-default.png';"
                 class="img-circle" alt="img">
              </div>
              <div class="pull-left info">
                <p>{{usuarioNome()}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            </div>
            <perfect-scrollbar>

              <div class="sidebar-menu">
                <ul>
                  <li *ngFor="let menu of menus"
                    [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
                    <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
                    <a *ngIf="menu.type !== 'header' && verificarPermissao(menu.title) == true" [routerLink]="menu.link"
                      (click)='toggle(menu)'>
                      <i class="{{menu.icon}}"></i>
                      <span>{{menu.title}}</span>
                      <span *ngIf="menu.badge" class="badge badge-pill"
                        [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
                    </a>
                    <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
                      <ul>
                        <li *ngFor="let submenu of menu.submenus">
                          <a *ngIf="verificarPermissao(submenu.title) == true" [routerLink]="submenu.link"> <i
                              class="{{submenu.icon}}"></i>{{submenu.title}}
                            <span *ngIf="submenu.badge" class="badge badge-pill"
                              [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </perfect-scrollbar>
          </div>
        </nav>
      </section>
    </aside>

      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <router-outlet></router-outlet>
        </section>
      </div>

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Versão</b> BETA
        </div>
        <strong>Copyright &copy; 2019 <a>VMS Ltda</a>.</strong>
      </footer>
    </div>
  </body>
</html>
<!--
<button type="button" style="position:fixed;bottom:10%;left:2%;" 
tooltip="Novas ideias!" (click)="templateIdeia.show()" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-lightbulb"></i>
</button>

<div bsModal #templateIdeia="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Novo Grupo
        </h4>
        <button type="button" class="close pull-right" (click)="templateIdeia.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="container" [formGroup]="cadastroIdeiaForm">
          <input type="hidden" class="form-control" formControlName="id" value="0"  />

          <div class="form-row">
            <div class="form-group col-md-12">
                <label>Ideia: (*)</label>
                <textarea class="form-control"
                  [ngClass]="{'is-invalid':cadastroIdeiaForm.get('ideia').errors &&cadastroIdeiaForm.get('ideia').touched}"
                  formControlName="ideia" rows="4"></textarea>
                <div
                  *ngIf="cadastroIdeiaForm.get('ideia').hasError('required') &&cadastroIdeiaForm.get('ideia').touched"
                  class="invalid-feedback">
                  Campo é obrigatório.
                </div>
              </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="templateIdeia.hide()">
          Fechar
        </button>

        <button class="btn btn-primary" [disabled]="!cadastroIdeiaForm.valid" (click)="cadastrarIdeia(templateIdeia)">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>
-->