{{abrirTemplate(templateRecebimentos)}}
<div bsModal #templateRecebimentos="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Recebimento ({{produtoItem.descricao}})
        </h4>

        <button type="button" class="close pull-right" (click)="fecharTemplate(templateRecebimentos)"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cadastroRecebimento">

          <div class="row">

            <div class="form-group col-md-3">
              <label style="white-space: nowrap;">Data Emissão</label>
              <input type="text" class="form-control" formControlName="dataEmissao"
                [ngModel]="cadastroRecebimento.get('dataEmissao').value" bsDatepicker [bsConfig]="this.bsConfig"
                [ngClass]="{ 'is-invalid': cadastroRecebimento.get('dataEmissao').errors && 
                cadastroRecebimento.get('dataEmissao').touched}" />
              <div
                *ngIf="cadastroRecebimento.get('dataEmissao').hasError('required') &&cadastroRecebimento.get('dataEmissao').touched"
                class="invalid-feedback">
                Campo obrigatório.
              </div>
            </div>


            <div class="form-group col-md-3">
              <label>Valor da Venda:</label>
              <div class="input-group">
                <input class="form-control" currencyMask formControlName="valorTotal"
                  [options]="{ prefix: '', thousands: '.', decimal: ',' }" [ngClass]="{ 'is-invalid': cadastroRecebimento.get('valorTotal').errors && 
                  cadastroRecebimento.get('valorTotal').touched}" />
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              </div>
              <div
                *ngIf="cadastroRecebimento.get('valorTotal').hasError('required') && cadastroRecebimento.get('valorTotal').touched"
                class="invalid-feedback">
                Campo obrigatório.
              </div>
              <div
                *ngIf="cadastroRecebimento.get('valorTotal').hasError('min') && cadastroRecebimento.get('valorTotal').touched"
                class="invalid-feedback">
                Valor deve ser maior que 0.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label style="white-space: nowrap;">Centro de Receita:(*)</label>
              <ng-select style="text-transform: uppercase" [items]="centrosReceita" bindLabel="descricao" required
                bindValue="id" [clearable]="false" [(ngModel)]="centroReceitaIdSelecionado"
                formControlName="centroReceitaId" [disabled]="true">
              </ng-select>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-5">
              <label style="white-space: nowrap;">Plano de Conta:</label>
              <ng-select style="text-transform: uppercase" [items]="planoContasReceita" bindLabel="descricao" required
                bindValue="id" [(ngModel)]="planoContasIdSelecionado" formControlName="planoContasId" disabled>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.descricao}}</span></div>
                  <small><b>Tipo:</b> {{item.tipo}}</small> <br>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="row">
            <hr style="width: 100%">
            <div class="form-group col-md-5">
              <label style="white-space: nowrap;">Plano de Pagamento:(*)</label>
              <ng-select style="text-transform: uppercase" [items]="planosPagamento" bindLabel="descricao" required
                bindValue="id" [clearable]="false" [(ngModel)]="planoPagamentoIdSelecionado"
                formControlName="planoPagamentoId">
              </ng-select>
            </div>
            <div class="form-check form-group col-md-2" style="margin-top: 30px;">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="diasFixo"
                  formControlName="diasfixoCheck">
                <label class="custom-control-label" for="customCheck">&nbsp;Dias Fixo</label>
              </div>
            </div>
            <div class="form-group col-md-2" style="margin-left: -10px;" *ngIf="this.diasFixo == true">
              <label>Dia:</label>
              <input class="form-control" currencyMask formControlName="diasFixo"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }" v
                [ngClass]="{ 'is-invalid': cadastroRecebimento.get('diasFixo').errors && cadastroRecebimento.get('diasFixo').touched}" />
              <div
                *ngIf="cadastroRecebimento.get('diasFixo').hasError('required') && cadastroRecebimento.get('diasFixo').touched"
                class="invalid-feedback">
                Campo obrigatório.
              </div>
              <div
                *ngIf="cadastroRecebimento.get('diasFixo').hasError('min') && cadastroRecebimento.get('diasFixo').touched"
                class="invalid-feedback">
                Valor deve ser maior que 0.
              </div>
            </div>

            <div class=" form-group col-md-2">
              <button style="position:relative;margin-top: 24px;" [disabled]="cadastroRecebimento.get('dataEmissao').hasError('required') == true ||
                   cadastroRecebimento.get('valorTotal').hasError('required') == true || 
                   cadastroRecebimento.get('valorTotal').hasError('min') == true" (click)="gerarParcelas()"
                tooltip="Gerar Parcelas" class="btn btn-primary">
                &nbsp;Gerar Parcelas
              </button>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-md-2 pull-right" style="margin-right: 35px;">
              <button  class="btn btn-success" (click)="abrirTemplateChequePre()" tooltip="Novo Cheque Pre">
                <i class="fa fa-plus-circle"> </i>&nbsp;Novo Cheque Pre</button>
            </div>
          </div>
        </form>

        <div *ngIf="parcelas && parcelas.length > 0" class="box box-success">
          <div class="box-body">
            <table class="table table-responsive table-bordered">
              <thead class="thead-light">
                <tr>
                  <th style="white-space: nowrap;text-align: center;">Documento</th>
                  <th style="white-space: nowrap;text-align: center;">Data de Vencimento</th>
                  <th style="white-space: nowrap;text-align: center;">Forma de Pagamento</th>
                  <th style="white-space: nowrap;text-align: center;">Valor da Parcela</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parcela of parcelas">
                  <td style="text-align: center;">{{parcela.documento}}</td>
                  <td style="text-align: center;">
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="dataVencimento"
                        [ngModel]="this.dataService.getDataPTBR(parcela.dataVencimento)" (ngModel)="parcela.dataVencimento"bsDatepicker
                        [bsConfig]="this.bsConfig" />
                    </div>
                  </td>
                  <td style="text-align: center;">
                    <div class="col-md-12">
                      <ng-select style="text-transform: uppercase" [items]="formasPagamento" bindLabel="descricao"
                        required bindValue="id" [clearable]="false" [(ngModel)]="parcela.formaPagamentoId"
                        name="formaPagamentoId" disabled>
                      </ng-select>
                    </div>
                  </td>
                  <td style="text-align: center;">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input class="form-control" currencyMask name="valor" [(ngModel)]="parcela.valor"
                          [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplate(templateRecebimentos)">
          Fechar
        </button>
        
        <button class="btn btn-primary" [disabled]="cadastroRecebimento.get('dataEmissao').hasError('required') == true ||
        cadastroRecebimento.get('valorTotal').hasError('required') == true || 
        cadastroRecebimento.get('valorTotal').hasError('min') == true || parcelas.length == 0 || !parcelas" (click)="lancarRecebimento()">
          Cadastrar Recebimento
        </button>
      </div>
    </div>
  </div>

</div>

<app-cheque-pre-template [idChequePre]="0" *ngIf="getTemplateChequePre() == true"></app-cheque-pre-template>