<h2>Usuário</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">
    <tabset>
      <tab heading="Geral" style="margin-top: 10px;">
        <form [formGroup]="cadastroForm" class="mr-8">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Nome Completo:</label>
              <input type="text" class="form-control" formControlName="nomeCompleto" [ngClass]="{'is-invalid': cadastroForm.get('nomeCompleto').errors &&
                                                cadastroForm.get('nomeCompleto').touched }"
                style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()" />
              <div *ngIf="cadastroForm.get('nomeCompleto').hasError('required') &&
                                  cadastroForm.get('nomeCompleto').touched" class="invalid-feedback">
                Nome Completo é obrigatório.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Email:</label>
              <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': cadastroForm.get('email').errors && 
                                                  cadastroForm.get('email').touched}" />
              <div *ngIf="cadastroForm.get('email').hasError('required') &&cadastroForm.get('email').touched"
                class="invalid-feedback">
                E-mail é obrigatório.
              </div>
              <div *ngIf="cadastroForm.get('email').hasError('email') &&cadastroForm.get('email').touched"
                class="invalid-feedback">
                E-mail inválido.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Usuario:</label>
              <input class="form-control" type="text" formControlName="userName" [ngClass]="{'is-invalid': cadastroForm.get('userName').errors &&
                                                  cadastroForm.get('userName').touched}"
                style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()" />

              <div *ngIf="cadastroForm.get('userName').hasError('required') &&
                                  cadastroForm.get('userName').touched" class="invalid-feedback">
                Usuário é obrigatório.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label>Data de Nascimento:(*)</label>
              <input type="text" class="form-control" formControlName="dataNascimento"
                [ngModel]="cadastroForm.get('dataNascimento').value" bsDatepicker [bsConfig]="this.bsConfig"/>
            </div>

            <div *ngIf="this.visualizarNivel" class="form-group col-md-6">
              <label>Nível:(*)</label>
              <ng-select [items]="niveis" bindLabel="name" bindValue="id" required [multiple]="true"
                (change)="adicionarUsuarioNivel(niveisIdSelecionado)" [(ngModel)]="niveisIdSelecionado"
                formControlName="usuarioNivel">
              </ng-select>

              <div
                *ngIf="cadastroForm.get('usuarioNivel').hasError('required') && cadastroForm.get('usuarioNivel').touched"
                class="invalid-feedback d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>
          </div>

        </form>
      </tab>

      <tab *ngIf="this.visualizarOcorrencia" heading="Ocorrências" style="margin-top: 10px;">
        <div class="pull-right">
          <button (click)="novaOcorrencia(templateOcorrencia)" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>&nbsp; Nova Ocorrência
          </button>
        </div>

        <table class="table table-striped table-bordered mt-3">
          <thead class="thead-light">
            <tr>
              <th>Id</th>
              <th>Data</th>
              <th>Descrição</th>
              <th style="text-align: center;">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="usuarioOcorrencias && usuarioOcorrencias.length">
            <tr *ngFor="let ocorrencia of usuarioOcorrencias">
              <td>{{ ocorrencia.id }}</td>
              <td>{{ ocorrencia.data }}</td>
              <td>{{ ocorrencia.descricao }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-sm btn-danger" (click)="removerOcorrencia(ocorrencia)" tooltip="Excluir">
                    <i class="fa fa-eraser"></i>
                  </button>
                  <a [routerLink]="['/usuarioOcorrencias','editar', usuario.id]" tooltip="Editar/Perfil"
                    class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>

          <tfoot *ngIf="!usuarioOcorrencias">
            <tr colspan="7" class="text-center"></tr>
            <h4>
              Nenhuma ocorrência encontrada!
            </h4>
          </tfoot>
        </table>
      </tab>
 
    </tabset>
  </div>
</div>
<button *ngIf="this.editar || this.idUsuario == usuario.id"
  style="position:relative;" [disabled]="!cadastroForm.valid" (click)="salvarAlteracao()"
  tooltip="Salvar" class="btn btn-lg btn-primary">
  &nbsp;Salvar Alterações
</button>


<div bsModal #templateOcorrencia="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Ocorrência
        </h4>
        <button type="button" class="close pull-right" (click)="templateOcorrencia.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="cadastroOcorrenciaForm">
          <input type="hidden" class="form-control" formControlName="id" value="0" placeholder="" />
          <div class="row">
            <div class="form-group col-md-4">
              <label>Data:</label>
              <input type="text" class="form-control" formControlName="data"
                [ngModel]="cadastroOcorrenciaForm.get('data').value" bsDatepicker />

              <div
                *ngIf="cadastroOcorrenciaForm.get('data').hasError('required') && cadastroOcorrenciaForm.get('data').touched"
                class="invalid-feedback">
                Data é obrigatório.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-10">
              <label>Descrição:</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid':cadastroOcorrenciaForm.get('descricao').errors &&cadastroOcorrenciaForm.get('descricao').touched}"
                formControlName="descricao" placeholder="" />
              <div
                *ngIf="cadastroOcorrenciaForm.get('descricao').hasError('required') &&cadastroOcorrenciaForm.get('descricao').touched"
                class="invalid-feedback">
                Descrição é obrigatória.
              </div>
              <div
                *ngIf="cadastroOcorrenciaForm.get('descricao').hasError('minlength') &&cadastroOcorrenciaForm.get('descricao').touched"
                class="invalid-feedback">
                Descrição deve ter no mínimo 10 Caracteres.
              </div>
              <div
                *ngIf="cadastroOcorrenciaForm.get('descricao').hasError('maxlength') &&cadastroOcorrenciaForm.get('descricao').touched"
                class="invalid-feedback">
                Descrição deve ter no máximo 50 Caracteres.
              </div>
            </div>
          </div>
          <div class="row">
          <div class="form-group col-md-12">
            <label>Observação</label>
            <textarea class="form-control"
              [ngClass]="{'is-invalid':cadastroOcorrenciaForm.get('observacao').errors &&cadastroOcorrenciaForm.get('observacao').touched}"
              formControlName="observacao" placeholder="" rows="4"></textarea>
            <div
              *ngIf="cadastroOcorrenciaForm.get('observacao').hasError('required') &&cadastroOcorrenciaForm.get('observacao').touched"
              class="invalid-feedback">
              Observação é obrigatória.
            </div>
            <div
              *ngIf="cadastroOcorrenciaForm.get('observacao').hasError('minlength') &&cadastroOcorrenciaForm.get('observacao').touched"
              class="invalid-feedback">
              Observação deve ter no mínimo 10 Caracteres.
            </div>
            <div
              *ngIf="cadastroOcorrenciaForm.get('observacao').hasError('maxlength') &&cadastroOcorrenciaForm.get('observacao').touched"
              class="invalid-feedback">
              Observação deve ter no máximo 100 Caracteres.
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="templateOcorrencia.hide()">
          Fechar
        </button>

        <button class="btn btn-primary ml-auto" [disabled]="!cadastroOcorrenciaForm.valid"
          (click)="adicionarOcorrencia(templateOcorrencia)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>