<h2>Perfil do Usuário</h2>
<hr width="100%">
<div class="row" *ngIf="this.editar == true || this.visualizar == true || this.idUsuario == this.idUsuarioLogado">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img rounded-circle" style="display:block;" src="{{this.baseURLFotoPerfil}}"alt="img">

        <h3 class="profile-username text-center">{{this.usuario.nomeCompleto}}</h3>
        <div *ngIf="this.usuario.usuarioNivel && this.usuario.usuarioNivel.length">
          <div *ngFor="let un of this.usuario.usuarioNivel">
            <p class="text-muted text-center">{{(un.nivel) ? un.nivel.name : ''}}</p><br />
          </div>
        </div>
        <a class="btn btn-success btn-block" [routerLink]="" (click)="file.click()"><b>Selecionar Nova Foto de Perfil</b></a>
      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div class="box box-primary">
      <div class="box-header with-border">
        <tabset>
          <tab heading="Geral" style="margin-top: 10px;">
            <form [formGroup]="cadastroForm" class="mr-8">
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Nome Completo</label>
                  <input type="text" class="form-control" formControlName="nomeCompleto" [ngClass]="{'is-invalid': cadastroForm.get('nomeCompleto').errors &&
                                                    cadastroForm.get('nomeCompleto').touched }"
                    style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()" />
                  <div *ngIf="cadastroForm.get('nomeCompleto').hasError('required') &&
                                      cadastroForm.get('nomeCompleto').touched" class="invalid-feedback d-block">
                    Nome Completo é obrigatório.
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label>Email</label>
                  <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': cadastroForm.get('email').errors && 
                                                      cadastroForm.get('email').touched}" />
                  <div *ngIf="cadastroForm.get('email').hasError('required') &&cadastroForm.get('email').touched"
                    class="invalid-feedback d-block">
                    E-mail é obrigatório.
                  </div>
                  <div *ngIf="cadastroForm.get('email').hasError('email') &&cadastroForm.get('email').touched"
                    class="invalid-feedback d-block">
                    E-mail inválido.
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label>Usuario</label>
                  <input class="form-control" type="text" formControlName="userName" [ngClass]="{'is-invalid': cadastroForm.get('userName').errors &&
                                                      cadastroForm.get('userName').touched}"
                    style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()" />

                  <div *ngIf="cadastroForm.get('userName').hasError('required') &&
                                      cadastroForm.get('userName').touched" class="invalid-feedback d-block">
                    Usuário é obrigatório.
                  </div>
                </div>
              </div>

              <div class="row">
                <div *ngIf="this.visualizarCampoNivel == true" class="form-group col-md-6">
                  <label>Nível</label>
                  <ng-select [items]="niveis" bindLabel="name" bindValue="id" required [clearable]="false"
                    (change)="adicionarUsuarioNivel(niveisIdSelecionado)" [(ngModel)]="niveisIdSelecionado"
                    formControlName="usuarioNivel">
                  </ng-select>

                  <div
                    *ngIf="cadastroForm.get('usuarioNivel').hasError('required') && cadastroForm.get('usuarioNivel').touched"
                    class="invalid-feedback d-block d-block ng-invalid ng-touched">
                    Campo Obrigatório.
                  </div>
                </div>
              </div>

            </form>
          </tab>

          

        </tabset>
        <button *ngIf="this.editar || this.idUsuario == this.idUsuarioLogado" style="position:relative;margin-bottom: 15px;"
          [disabled]="!cadastroForm.valid" (click)="salvarAlteracao()" tooltip="Salvar" class="btn btn-lg btn-primary">
          &nbsp;Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>
<div  *ngIf="this.editar == false && this.visualizar == false && this.idUsuario != this.idUsuarioLogado">
  Você não tem permissão
</div>

  <input class="form-control" type="file" #file style="display: none;" accept="image/*"
    (change)="alterarNomeArquivoFotoPerfil($event)" />