<h2>Pessoa</h2>
<hr width="100%">
<div class="box box-primary" *ngIf="this.cadastrar == true">
  <div class="box-header with-border">
    <form [formGroup]="cadastroForm">
      <tabset>
        <tab heading="Geral" style="margin-top: 10px;">
          <div class="row mt-4">

            <div class="form-group col-md-2">
              <label>Cnpj/Cpf:(*)</label>
              <input class="form-control" type="text" maxlength="18" formControlName="cnpjCpf" [ngClass]="{ 'is-invalid': cadastroForm.get('cnpjCpf').errors && 
                  cadastroForm.get('cnpjCpf').touched}" [ngModel]="valueCnpjCpfPipe | cnpjCpfPipePipe"
                (ngModelChange)="valueCnpjCpfPipe=$event" />

              <div *ngIf="cadastroForm.get('cnpjCpf').hasError('required') &&cadastroForm.get('cnpjCpf').touched"
                class="invalid-feedback d-block">
                Obrigatório o preenchimento.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Inscrição Estadual:</label>
              <input class="form-control" type="text" maxlength="16" [ngModel]="valueIePipe | iePipePipe"
                (ngModelChange)="valueIePipe=$event" formControlName="iE" />
            </div>

            <div class="form-group col-md-4">
              <label>Nome :(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="nome" [ngClass]="{ 'is-invalid': cadastroForm.get('nome').errors && 
                                                        cadastroForm.get('nome').touched}" />

              <div *ngIf="cadastroForm.get('nome').hasError('required') &&cadastroForm.get('nome').touched"
                class="invalid-feedback d-block">
                Nome é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Razão Social:(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="razaoSocial" [ngClass]="{ 'is-invalid': cadastroForm.get('razaoSocial').errors && 
                                        cadastroForm.get('razaoSocial').touched}" />
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label>Tipo(s):(*)</label>
              <ng-select [items]="tiposPessoa" bindLabel="descricao" bindValue="id" required [multiple]="true"
                (change)="adicionarPessoaTipos(tiposIdSelecionado)" [(ngModel)]="tiposIdSelecionado"
                formControlName="pessoaTipos">
              </ng-select>

              <div
                *ngIf="cadastroForm.get('pessoaTipos').hasError('required') && cadastroForm.get('pessoaTipos').touched"
                class="invalid-feedback d-block d-block ng-invalid ng-touched">
                Tipo(s) é Obrigatório.
              </div>
            </div>
            <div class="form-group col-md-2">
              <label>Cep:(*)</label>
              <input class="form-control" type="text" maxlength="9" formControlName="cep" [ngClass]="{ 'is-invalid': cadastroForm.get('cep').errors && 
              cadastroForm.get('cep').touched}" [ngModel]="valueCepPipe | cepPipePipe"
                (ngModelChange)="valueCepPipe=$event" />

              <div *ngIf="cadastroForm.get('cep').hasError('required') &&cadastroForm.get('cep').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>
            <div class="form-group col-md-2">
              <label>Estado:(*)</label>
              <ng-select [items]="estados" bindLabel="uf" required (clear)="limparEstado()" bindValue="id"
                (change)="getCidades(estadoIdSelecionado)" [(ngModel)]="estadoIdSelecionado" formControlName="estadoId">
              </ng-select>
              <div *ngIf="cadastroForm.get('estadoId').hasError('required') && cadastroForm.get('estadoId').touched"
                class="invalid-feedback d-block d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Cidade:(*)</label>
              <ng-select [items]="cidades" style="text-transform: uppercase" bindLabel="nome" (clear)="limparCidade()"
                bindValue="id" [(ngModel)]="cidadeIdSelecionado" formControlName="cidadeId">
              </ng-select>
              <div *ngIf="cadastroForm.get('cidadeId').hasError('required') && cadastroForm.get('cidadeId').touched"
                class="invalid-feedback d-block d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-3">
              <label>Endereço:(*)</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="endereco" [ngClass]="{ 'is-invalid': cadastroForm.get('endereco').errors && 
                                                                        cadastroForm.get('endereco').touched}" />

              <div *ngIf="cadastroForm.get('endereco').hasError('required') &&cadastroForm.get('endereco').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Bairro:(*)</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="bairro"
                [ngClass]="{ 'is-invalid': cadastroForm.get('bairro').errors && cadastroForm.get('bairro').touched}" />

              <div *ngIf="cadastroForm.get('bairro').hasError('required') &&cadastroForm.get('bairro').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Email:(*)</label>
              <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': cadastroForm.get('email').errors && 
                                                                cadastroForm.get('email').touched}" />
              <div *ngIf="cadastroForm.get('email').hasError('required') &&cadastroForm.get('email').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
              <div *ngIf="cadastroForm.get('email').hasError('email') &&cadastroForm.get('email').touched"
                class="invalid-feedback d-block">
                E-mail inválido.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Telefone:(*)</label>
              <input class="form-control" type="text" maxlength="14" formControlName="telefone" [ngClass]="{ 'is-invalid': cadastroForm.get('telefone').errors && 
                  cadastroForm.get('telefone').touched}" [ngModel]="valueTelefonePipe | celularPipePipe"
                (ngModelChange)="valueTelefonePipe=$event" />

              <div *ngIf="cadastroForm.get('telefone').hasError('required') &&cadastroForm.get('telefone').touched"
                class="invalid-feedback d-block">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Celular:</label>
              <input telefoneMask class="form-control" maxlength="14" [ngModel]="valueCelularPipe | celularPipePipe"
                (ngModelChange)="valueCelularPipe=$event" type="tel" formControlName="celular" />
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-2">
              <label>Status:</label>
              <ng-select [clearable]="false" [items]="status" [(ngModel)]="statusSelecionado" formControlName="status">
              </ng-select>
            </div>
            <div *ngIf="cadastroForm.get('status').hasError('required') &&cadastroForm.get('status').touched"
              class="invalid-feedback d-block">
              Campo Obrigatório.
            </div>
          </div>

        </tab>
      </tabset>
    </form>
  </div>
  <button  style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid" (click)="cadastrarPessoa()"
   tooltip="Cadastrar Pessoa" class="btn btn-lg btn-primary">
    &nbsp;Cadastrar
  </button>
</div>
<div *ngIf="this.cadastrar == false">
  Você não tem permissão
</div>