<h2>Cliente</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">
    <form [formGroup]="cadastroForm">
      <tabset>
        <tab heading="Geral" style="margin-top: 10px;">
          <div class="row mt-4">
            <div class="form-group col-md-2">
              <label>Cod.Siga:</label>
              <input type="text" class="form-control" formControlName="codSiga" />
            </div>

            <div class="form-group col-md-2">
              <label style="white-space: nowrap;">N° Loja:</label>
              <input type="text" class="form-control" formControlName="nLoja" />
            </div>

            <div class="form-group col-md-4">
              <label>Razão Social:(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="razaoSocial" [ngClass]="{ 'is-invalid': cadastroForm.get('razaoSocial').errors && 
                                        cadastroForm.get('razaoSocial').touched}" />

              <div
                *ngIf="cadastroForm.get('razaoSocial').hasError('required') &&cadastroForm.get('razaoSocial').touched"
                class="invalid-feedback">
                Razão Social é obrigatório.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Nome Fantasia:(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="nomeFantasia" [ngClass]="{ 'is-invalid': cadastroForm.get('nomeFantasia').errors && 
                                                      cadastroForm.get('nomeFantasia').touched}" />

              <div
                *ngIf="cadastroForm.get('nomeFantasia').hasError('required') &&cadastroForm.get('nomeFantasia').touched"
                class="invalid-feedback">
                Nome Fantasia é obrigatório.
              </div>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label>Grupo:</label>
              <div class="input-group">
                <ng-select [items]="grupos" bindLabel="nome" bindValue="id" (change)="getGrupos()"
                  [(ngModel)]="grupoIdSelecionado" formControlName="grupoId">
                </ng-select>
                <span class="input-group-btn">
                  <button class="btn btn-success" (click)="abrirModalNovoGrupo(templateGrupo)" tooltip="Novo Grupo">
                    <i class="fa fa-plus-circle"> </i></button>
                </span>
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Categoria:</label>
              <ng-select [clearable]="false" [items]="categorias" [(ngModel)]="categoriaSelecionado"
                formControlName="categoria">
              </ng-select>
            </div>

            <div class="form-group col-md-3">
              <label>Contato:</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="contato" />
            </div>

            <div class="form-group col-md-2">
              <label style="white-space: nowrap;">Inscrição Estadual:</label>
              <input class="form-control" type="text" maxlength="16" [ngModel]="valueIePipe | iePipePipe"
                (ngModelChange)="valueIePipe=$event" formControlName="ie" />
            </div>

            <div class="form-group col-md-2">
              <label style="white-space: nowrap;">Cnpj/Cpf:(*)</label>
              <input class="form-control" type="text" maxlength="18" formControlName="cnpjCpf" [ngClass]="{ 'is-invalid': cadastroForm.get('cnpjCpf').errors && 
                  cadastroForm.get('cnpjCpf').touched}" [ngModel]="valueCnpjCpfPipe | cnpjCpfPipePipe"
                (ngModelChange)="valueCnpjCpfPipe=$event" />

              <div *ngIf="cadastroForm.get('cnpjCpf').hasError('required') &&cadastroForm.get('cnpjCpf').touched"
                class="invalid-feedback">
                Obrigatório o preenchimento.
              </div>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-2">
              <label>Cep:(*)</label>
              <input class="form-control" type="text" maxlength="9" formControlName="cep" [ngClass]="{ 'is-invalid': cadastroForm.get('cep').errors && 
              cadastroForm.get('cep').touched}" [ngModel]="valueCepPipe | cepPipePipe"
                (ngModelChange)="valueCepPipe=$event" />

              <div *ngIf="cadastroForm.get('cep').hasError('required') &&cadastroForm.get('cep').touched"
                class="invalid-feedback">
                Campo Obrigatório.
              </div>
            </div>
            <div class="form-group col-md-2">
              <label>Estado:(*)</label>
              <ng-select [items]="estados" bindLabel="uf" required (clear)="limparEstado()" bindValue="id"
                (change)="getCidades(estadoIdSelecionado)" [(ngModel)]="estadoIdSelecionado" formControlName="estadoId">
              </ng-select>
              <div *ngIf="cadastroForm.get('estadoId').hasError('required') && cadastroForm.get('estadoId').touched"
                class="invalid-feedback d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Cidade:(*)</label>
              <ng-select [items]="cidades" style="text-transform: uppercase" bindLabel="nome" (clear)="limparCidade()"
                bindValue="id" [(ngModel)]="cidadeIdSelecionado" formControlName="cidadeId">
              </ng-select>
              <div *ngIf="cadastroForm.get('cidadeId').hasError('required') && cadastroForm.get('cidadeId').touched"
                class="invalid-feedback d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Endereço:(*)</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="endereco" [ngClass]="{ 'is-invalid': cadastroForm.get('endereco').errors && 
                                                                    cadastroForm.get('endereco').touched}" />

              <div *ngIf="cadastroForm.get('endereco').hasError('required') &&cadastroForm.get('endereco').touched"
                class="invalid-feedback">
                Campo Obrigatório.
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-3">
              <label>Bairro:(*)</label>
              <input class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" type="text" formControlName="bairro"
                [ngClass]="{ 'is-invalid': cadastroForm.get('bairro').errors && cadastroForm.get('bairro').touched}" />

              <div *ngIf="cadastroForm.get('bairro').hasError('required') &&cadastroForm.get('bairro').touched"
                class="invalid-feedback">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Email:(*)</label>
              <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': cadastroForm.get('email').errors && 
                                                                cadastroForm.get('email').touched}" />
              <div *ngIf="cadastroForm.get('email').hasError('required') &&cadastroForm.get('email').touched"
                class="invalid-feedback">
                Campo Obrigatório.
              </div>
              <div *ngIf="cadastroForm.get('email').hasError('email') &&cadastroForm.get('email').touched"
                class="invalid-feedback">
                E-mail inválido.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Telefone:(*)</label>
              <input class="form-control" type="text" maxlength="14" formControlName="telefone" [ngClass]="{ 'is-invalid': cadastroForm.get('telefone').errors && 
                  cadastroForm.get('telefone').touched}" [ngModel]="valueTelefonePipe | celularPipePipe"
                (ngModelChange)="valueTelefonePipe=$event" />

              <div *ngIf="cadastroForm.get('telefone').hasError('required') &&cadastroForm.get('telefone').touched"
                class="invalid-feedback">
                Campo Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Celular:</label>
              <input telefoneMask class="form-control" maxlength="14" [ngModel]="valueCelularPipe | celularPipePipe"
                (ngModelChange)="valueCelularPipe=$event" type="tel" formControlName="celular" />
            </div>

            <div class="form-group col-md-2">
              <label>Status:</label>
              <ng-select [clearable]="false" [items]="status" [(ngModel)]="statusSelecionado" formControlName="status">
              </ng-select>
            </div>
          </div>

        </tab>

        <tab heading="Sistema" style="margin-top: 10px;">
          <div class="row mt-4">
            <div class="form-group col-md-2">
              <label>Sistema:(*)</label>
              <ng-select [items]="sistemas" bindLabel="nome" required (clear)="limparSistema()" bindValue="id"
                (change)="getGeracoes(sistemaIdSelecionado)" [(ngModel)]="sistemaIdSelecionado"
                formControlName="sistemaId">
              </ng-select>
              <div *ngIf="cadastroForm.get('sistemaId').hasError('required') && cadastroForm.get('sistemaId').touched"
                class="invalid-feedback d-block ng-invalid ng-touched">
                Sistema é Obrigatório.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Gerações:(*)</label>
              <ng-select [items]="geracoes" bindLabel="nome" required (clear)="limparGeracao()" bindValue="id"
                (change)="getVersoesGeracao(geracaoIdSelecionado)" [(ngModel)]="geracaoIdSelecionado"
                formControlName="geracaoId">
              </ng-select>
              <div *ngIf="cadastroForm.get('geracaoId').hasError('required') && cadastroForm.get('geracaoId').touched"
                class="invalid-feedback d-block ng-invalid ng-touched">
                Geração é Obrigatório.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label>Versões:(*)</label>
              <ng-select [items]="versoes" bindLabel="nome" bindValue="id" required [multiple]="true"
                (change)="adicionarClienteVersoes(versoesIdSelecionado)" [(ngModel)]="versoesIdSelecionado"
                formControlName="clienteVersoes">
              </ng-select>

              <div
                *ngIf="cadastroForm.get('clienteVersoes').hasError('required') && cadastroForm.get('clienteVersoes').touched"
                class="invalid-feedback d-block ng-invalid ng-touched">
                Versão(ões) é Obrigatório.
              </div>
            </div>
          </div>

        </tab>
      </tabset>
    </form>
  </div>
</div>
<button style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid" (click)="cadastrarCliente()"
  tooltip="Novo Cliente" class="btn btn-lg btn-primary">
  &nbsp;Cadastrar
</button>



<div bsModal #templateGrupo="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Novo Grupo
        </h4>
        <button type="button" class="close pull-right" (click)="templateGrupo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="cadastroGrupoForm">
          <input type="hidden" class="form-control" formControlName="id" value="0" placeholder="" />
          <div class="row">
            <div class="form-group col-md-12">
              <label>Nome:(*)</label>
              <input type="text" style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                oninput="this.value = this.value.toUpperCase()" class="form-control"
                [ngClass]="{'is-invalid':cadastroGrupoForm.get('nome').errors &&cadastroGrupoForm.get('nome').touched}"
                formControlName="nome" />
              <div *ngIf="cadastroGrupoForm.get('nome').hasError('required') &&cadastroGrupoForm.get('nome').touched"
                class="invalid-feedback">
                Nome é obrigatório.
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="templateGrupo.hide()">
          Fechar
        </button>

        <button class="btn btn-primary" [disabled]="!cadastroGrupoForm.valid" (click)="cadastrarGrupo(templateGrupo)">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>