<h2>Permissões</h2>
<hr width="100%">
<div class="box box-primary" *ngIf="this.listar == true">
  <div class="box-header with-border">

    <div style="margin-bottom: 10px;" class="float-right">
      <a [routerLink]="" class="btn btn-success">
        <i class="fa fa-plus-circle"></i>&nbsp; Cadastrar Formulário
      </a>
    </div>
    <table  style="border-collapse:inherit;" style="margin-top: 15px;" class="table table-striped table-bordered mt-4">
      <thead class="thead-light">
        <tr>
          <th>Formulário</th>
          <th style="text-align: center;">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="permissaoFormularios && permissaoFormularios.length">
        <tr
          *ngFor="let permissao of permissaoFormularios | paginate: { itemsPerPage: 100,currentPage: paginaAtual, totalItems: totalRegistros };">
          <td>{{ permissao.formulario }}</td>

          <td style="text-align: center;white-space: nowrap;">
            <div class="btn-group">
              <a [routerLink]="" (click)="abrirTemplateModalEditarPermissao(this.editarPermissaoComponent, permissao)"
                *ngIf="this.editar == true || this.visualizar == true" tooltip="Editar/Detalhes"
                class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!permissaoFormularios">
        <tr colspan="7" class="text-center"></tr>
        <h4>
          Nenhum formulário encontrado!
        </h4>
      </tfoot>
    </table>
  </div>

</div>
<div *ngIf="this.listar == false">
  Você não tem permissão.
</div>

<app-template-modal *ngIf="this.getTemplateModalEditarPermissao() == true"
  [templateModalService]="templateModalEditarPermissaoService" [component]="this.componentModal" [width]="80"
  [titulo]="this.tituloTemplateModal" [inputs]="this.inputs">
</app-template-modal>