<h2>Plano de Contas</h2>
<hr width="100%">
<div class="box box-primary" *ngIf="this.listar == true">
  <div class="box-header with-border">
    <div class="row">
      <div *ngIf="this.cadastrar == true" style="margin-right: 15px;" class="float-right">
        <a [routerLink]="" (click)="abrirTemplatePlanoConta('CADASTRAR', null, templatePlanoConta)" tooltip="Cadastrar"
          class="btn btn-success">
          <i class="fa fa-plus-circle"></i>&nbsp; Nova Conta
        </a>
      </div>
    </div>
    <table  style="border-collapse:inherit;" style="margin-top: 15px;" class="table table-striped table-bordered mt-4">
      <thead class="thead-light">
        <tr>
          <th>Nível</th>
          <th>Descrição</th>
          <th>Tipo</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="listaContasFiltradas && listaContasFiltradas.length">
        <tr *ngFor="let conta of listaContasFiltradas | paginate: { itemsPerPage: 100,
         currentPage: paginaAtual, totalItems: totalRegistros };">
          <td>{{ conta.nivel }}</td>
          <td [ngStyle]="{'font-weight': conta.negrito}" style="white-space: nowrap;">
            {{ conta.espacamento }}{{ conta.descricao }}</td>
          <td [ngStyle]="{'font-weight': conta.negrito}">{{ conta.tipo }}</td>
          <td [ngStyle]="{'font-weight': conta.negrito}">{{ conta.categoria }}</td>
          <td style="text-align: center;white-space: nowrap;">
            <div class="btn-group">
              <a *ngIf="this.editar == true || this.visualizar == true" [routerLink]="" 
                (click)="abrirTemplatePlanoConta('EDITAR', conta, templatePlanoConta)" tooltip="Editar/Detalhes"
                class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!planoContas">
        <tr colspan="7" class="text-center"></tr>
        <h4>
          Nenhum Plano de Conta encontrado!
        </h4>
      </tfoot>
    </table>
    Total de Registros: {{totalRegistros}}
    <div class="text-center">
      <pagination-controls (pageChange)="paginaAtual = $event" name="retornoPagination" previousLabel="Anterior"
        nextLabel="Próximo">
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="this.listar == false">
  Você não tem permissão.
</div>
<div bsModal #templatePlanoConta="bs-modal" class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title float-left">
          Plano de Conta
        </h4>

        <button type="button" class="close float-right" (click)="templatePlanoConta.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cadastroForm" class="mt-3">
          <div class="row">

            <div class="form-group col-md-3">
              <label style="white-space: nowrap;">Descrição:(*)</label>
              <input type="text" style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" formControlName="descricao" [ngClass]="{ 'is-invalid': cadastroForm.get('descricao').errors && 
                cadastroForm.get('descricao').touched}" />
              <div *ngIf="cadastroForm.get('descricao').hasError('required') &&cadastroForm.get('descricao').touched"
                class="invalid-feedback">
                Campo obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label style="white-space: nowrap;">Conta Superior:</label>
              <ng-select style="text-transform: uppercase" [items]="planoContas" bindLabel="descricao" bindValue="id"
                (change)="setTipoConta($event)" [(ngModel)]="planoContaIdSuperiorSelecionado"
                formControlName="planoContasId">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.descricao}}</span></div>
                  <small><b>Nível:</b> {{item.nivel}}</small> <br>
                  <small><b>Tipo:</b> {{item.tipo}}</small> <br>
                  <small><b>Categoria:</b> {{item.categoria}}</small>
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group col-md-2">
              <label style="white-space: nowrap;">Tipo:</label>
              <ng-select style="text-transform: uppercase" [items]="['RECEITA', 'DESPESA', 'MOVIMENTO']"
                [clearable]="false" [ngModel]="cadastroForm.get('tipo').value" formControlName="tipo"
                [ngClass]="{ 'is-invalid': cadastroForm.get('tipo').errors && cadastroForm.get('tipo').touched}">
                <div *ngIf="cadastroForm.get('tipo').hasError('required') &&cadastroForm.get('tipo').touched"
                  class="invalid-feedback">
                  Campo obrigatório.
                </div>
              </ng-select>
            </div>

            <div class="form-group col-md-2">
              <label style="white-space: nowrap;">Categoria:</label>
              <ng-select style="text-transform: uppercase" [items]="['ANALÍTICA', 'SINTÉTICA']" [clearable]="false"
                [ngModel]="cadastroForm.get('categoria').value" formControlName="categoria" [ngClass]="{ 'is-invalid': cadastroForm.get('categoria').errors && 
                cadastroForm.get('categoria').touched}">
                <div *ngIf="cadastroForm.get('categoria').hasError('required') &&cadastroForm.get('categoria').touched"
                  class="invalid-feedback">
                  Campo obrigatório.
                </div>
              </ng-select>
            </div>

            <div class="form-group col-md-2">
              <label style="white-space: nowrap;">Status:</label>
              <ng-select style="text-transform: uppercase" [items]="['ATIVO', 'INATIVO']" [clearable]="false"
                [ngModel]="cadastroForm.get('status').value" formControlName="status"
                [ngClass]="{ 'is-invalid': cadastroForm.get('status').errors && cadastroForm.get('status').touched}">
              </ng-select>
              <div *ngIf="cadastroForm.get('status').hasError('required') &&cadastroForm.get('status').touched"
                class="invalid-feedback">
                Campo Obrigatório.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button (click)="templatePlanoConta.hide()" class="btn btn-secondary">
          Fechar
        </button>
        <button *ngIf="this.modo == 'EDITAR' && this.editar == true" [disabled]="!cadastroForm.valid"
          class="btn btn-primary" (click)="salvarPlanoConta(templatePlanoConta)">
          Salvar
        </button>
        <button *ngIf="this.modo == 'CADASTRAR' && this.cadastrar == true" [disabled]="!cadastroForm.valid"
          class="btn btn-primary" (click)="cadastrarPlanoConta(templatePlanoConta)">
          Cadastrar
        </button>
      </div>
    </div>

  </div>
</div>