<h2>Cadastrar Venda</h2>
<hr width="100%">
<div class="box box-primary">
  <div class="box-header with-border">
    <form [formGroup]="cadastroForm" class="mt-3">
      <div class="row">

        <div class="form-group col-md-2">
          <label>Data Negociação</label>
          <input type="text" class="form-control" formControlName="dataNegociacao"
            [ngModel]="cadastroForm.get('dataNegociacao').value" bsDatepicker [bsConfig]="this.bsConfig" />
        </div>

        <div class="form-group col-md-3">
          <label>Empresa</label>
          <ng-select style="text-transform: uppercase" [items]="empresas" bindLabel="nomeFantasia" bindValue="id"
            [(ngModel)]="empresaIdSelecionado" formControlName="empresasId">
          </ng-select>
        </div>
        <div class="form-group col-md-3">
          <label>Vendedor</label>
          <ng-select style="text-transform: uppercase" [items]="vendedores" bindLabel="nome" bindValue="id"
            [(ngModel)]="vendedorIdSelecionado" formControlName="vendedorId">
          </ng-select>
        </div>
      </div>

      <div class="row">

        <div class="form-group  col-md-3">
          <label>Cliente</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-success" (click)="abrirTemplateModal(cadastrarClienteComponent)" tooltip="Cadastrar Cliente">
                <i class="fa fa-plus-circle"> </i>
              </button>
            </div>
            <ng-select style="display: contents;height:41px;text-transform: uppercase" [items]="clientes" bindLabel="nomeFantasia" bindValue="id"
              [(ngModel)]="clienteIdSelecionado" formControlName="clientesId">
            </ng-select>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label>Produto</label>
          <ng-select style="text-transform: uppercase" [items]="produtos" bindLabel="descricao" bindValue="id"
            [(ngModel)]="produtoIdSelecionado" formControlName="produtoId">
          </ng-select>
        </div>
        <div class="form-group col-md-3">
          <label style="white-space: nowrap;">Plano de Pagamento</label>
          <ng-select style="text-transform: uppercase" [items]="planosPagamento" bindLabel="descricao" required
            bindValue="id" [clearable]="false" [(ngModel)]="planoPagamentoIdSelecionado"
            formControlName="planoPagamentoId">
          </ng-select>
        </div>
      </div>
    </form>

    <div *ngIf="!cadastroForm.valid" style="font-size:18px;font-weight: bold;" class="invalid-feedback d-block d-block">
      Preencha todos os campos com .
    </div>
  </div>
</div>

<button style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid" (click)="cadastrarVenda()"
  tooltip="Nova Venda" class="btn btn-lg btn-primary">
  &nbsp;Cadastrar
</button>

<app-template-modal *ngIf="this.getTemplateModal() == true" [templateModalService]="this.templateModalCadastrarClienteService"
 [component]="this.componentModal" [width]="70">
</app-template-modal>