<form [formGroup]="cadastroForm" class="container mr-8 mt-3">

  <div class="row mt-5">
    <div class="container d-flex col-xs-10">

      <div class="container form-group">
        <h3>Cadastro do Colaborador</h3>&nbsp;
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-3">
    <tabset>
      <tab heading="Geral">
        <div class="form-row mt-4">
          <div class="form-group col-md-4">
            <label>Nome Completo:</label>
            <input type="text" class="form-control" formControlName="nomeCompleto" [ngClass]="{'is-invalid': cadastroForm.get('nomeCompleto').errors &&
                                              cadastroForm.get('nomeCompleto').touched }" />
            <div *ngIf="cadastroForm.get('nomeCompleto').hasError('required') &&
                                cadastroForm.get('nomeCompleto').touched" class="invalid-feedback">
              Nome Completo é obrigatório.
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Email:</label>
            <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': cadastroForm.get('email').errors && 
                                                cadastroForm.get('email').touched}" />
            <div *ngIf="cadastroForm.get('email').hasError('required') &&cadastroForm.get('email').touched"
              class="invalid-feedback">
              E-mail é obrigatório.
            </div>
            <div *ngIf="cadastroForm.get('email').hasError('email') &&cadastroForm.get('email').touched"
              class="invalid-feedback">
              E-mail inválido.
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Usuario:</label>
            <input class="form-control" type="text" formControlName="userName" [ngClass]="{'is-invalid': cadastroForm.get('userName').errors &&
                                                cadastroForm.get('userName').touched}"
              style="text-transform: uppercase" />

            <div *ngIf="cadastroForm.get('userName').hasError('required') &&
                                cadastroForm.get('userName').touched" class="invalid-feedback">
              Usuário é obrigatório.
            </div>
          </div>
        </div>

        <div formGroupName="passwords">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Senha:</label>
              <input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': cadastroForm.get('passwords.password').errors &&
                                                             cadastroForm.get('passwords.password').touched}" />
              <div *ngIf="cadastroForm.get('passwords.password').hasError('minlength') &&
                                  cadastroForm.get('passwords.password').touched" class="invalid-feedback">
                Deve conter no mínimo 4 caracters
              </div>
              <div *ngIf="cadastroForm.get('passwords.password').hasError('required') &&
                                            cadastroForm.get('passwords.password').touched" class="invalid-feedback">
                Senha é obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Confirmar Senha:</label>
              <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': cadastroForm.get('passwords.confirmPassword').errors 
                                               && cadastroForm.get('passwords.confirmPassword').touched 
                                               ||cadastroForm.get('passwords.confirmPassword').hasError('mismatch') 
                                               && cadastroForm.get('passwords.confirmPassword').touched }" />
              <div *ngIf="cadastroForm.get('passwords.confirmPassword').hasError('required') &&
                                            cadastroForm.get('passwords.confirmPassword').touched"
                class="invalid-feedback">
                Confirme a senha.
              </div>
              <div *ngIf="cadastroForm.get('passwords.confirmPassword').hasError('mismatch') 
                                            && cadastroForm.get('passwords.confirmPassword').touched"
                class="invalid-feedback">
                Senhas diferentes!
              </div>
            </div>
          </div>
        </div>
      </tab>

    </tabset>
    <div class="form-group  offset-md-10 mt-3">
      <button class="btn btn-primary btn-block" [disabled]="!cadastroForm.valid"
        (click)="cadastrarColaborador()">Salvar</button>
    </div>
  </div>

</form>