{{abrirTemplate(templateModal)}}
<div bsModal #templateModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal">
  <div class="modal-dialog modal-xl" [style.width.%]="this.width">
    <div class="modal-content">
      <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title float-left">
            {{this.titulo}}
          </h4>
        <button type="button" class="close float-right" (click)="fecharTemplate(templateModal)"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div #container></div>
      </div>

      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplate(templateModal)">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>