<h2>Cheques Pré-Datado</h2>
<hr width="100%">
<div class="box box-primary">
  <div class="box-header with-border" >
    <div class="row">
      <div *ngIf="this.novo == true" style="margin-right: 15px;" class="pull-right">
        <a  (click)="abrirTemplateChequePre(0)" class="btn btn-success">
          <i class="fa fa-plus-circle"></i>&nbsp; Novo Lançamento
        </a>
      </div>
    </div>
    <table style="margin-top: 15px;" class="table table-striped table-bordered mt-4">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th style="text-align: center;">Data Lançamento</th>
            <th style="text-align: center;">N° Cheque</th>
            <th style="text-align: center;">Valor</th>
            <th style="text-align: center;">Data Pré-Datado</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tbody *ngIf="cheques && cheques.length">
          <tr *ngFor="let cheque of cheques | paginate: { itemsPerPage: 5,currentPage: paginaAtual, totalItems: totalRegistros };">
            <td>{{ cheque.id }}</td>
            <td style="white-space: nowrap;">{{ cheque.clientes.nomeFantasia }}</td>
            <td style="white-space: nowrap;text-align: center;">{{ cheque.dataLancamento | date:'dd/MM/yyyy'}}</td>
            <td style="text-align: center;">{{ cheque.numero }}</td>
            <td style="text-align: center;">{{ cheque.valor | currency:' ':false }}</td>
            <td style="text-align: center;">{{ cheque.dataPreDatado | date:'dd/MM/yyyy'}}</td>
            <td style="text-align: center;">{{ cheque.status }}</td>
            <td style="text-align: center;white-space: nowrap;">
              <div *ngIf="this.editar == true || this.visualizar == true" class="btn-group">
                <a  (click)="abrirTemplateChequePre(cheque.Id)" tooltip="Editar/Detalhes" class="btn btn-sm btn-primary">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!cheques">
          <tr colspan="7" class="text-center"></tr>
          <h4>
            Nenhum Cheque encontrado!
          </h4>
        </tfoot>
      </table>
      Total de Registros: {{totalRegistros}}
      <div class="text-center">
        <pagination-controls (pageChange)="paginaAtual = $event" name="retornoPagination" previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </div>
  </div>

</div>

<app-cheque-pre-template [idChequePre]="this.idChequePre" *ngIf="getTemplateChequePre() == true"></app-cheque-pre-template>

 