<h2>Usuário</h2>
<hr width="100%">
<div class="box box-primary" *ngIf="this.cadastrar == true">
  <div class="box-header with-border">
    <form [formGroup]="cadastroForm" style="margin-top: 10px;">
      <tabset>
        <tab heading="Geral">
          <div class="row mt-4">
            <div class="form-group col-md-4">
              <label>Nome Completo:</label>
              <input type="text" class="form-control" style="text-transform: uppercase"
                oninput="this.value = this.value.toUpperCase()" formControlName="nomeCompleto" [ngClass]="{'is-invalid': cadastroForm.get('nomeCompleto').errors &&
                                              cadastroForm.get('nomeCompleto').touched }" />
              <div *ngIf="cadastroForm.get('nomeCompleto').hasError('required') &&
                                cadastroForm.get('nomeCompleto').touched" class="invalid-feedback d-block">
                Nome Completo é obrigatório.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Email:</label>
              <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': cadastroForm.get('email').errors && 
                                                cadastroForm.get('email').touched}" />
              <div *ngIf="cadastroForm.get('email').hasError('required') &&cadastroForm.get('email').touched"
                class="invalid-feedback d-block">
                E-mail é obrigatório.
              </div>
              <div *ngIf="cadastroForm.get('email').hasError('email') &&cadastroForm.get('email').touched"
                class="invalid-feedback d-block">
                E-mail inválido.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Usuario:</label>
              <input class="form-control" type="text" formControlName="userName" [ngClass]="{'is-invalid': cadastroForm.get('userName').errors &&
                                                cadastroForm.get('userName').touched}"
                style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()" />

              <div *ngIf="cadastroForm.get('userName').hasError('required') &&
                                cadastroForm.get('userName').touched" class="invalid-feedback d-block">
                Usuário é obrigatório.
              </div>
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-4">
              <label>Nível</label>
              <ng-select [items]="niveis" bindLabel="name" bindValue="id" required [multiple]="true"
                (change)="adicionarUsuarioNivel(niveisIdSelecionado)" [(ngModel)]="niveisIdSelecionado"
                formControlName="usuarioNivel">
              </ng-select>

              <div
                *ngIf="cadastroForm.get('usuarioNivel').hasError('required') && cadastroForm.get('usuarioNivel').touched"
                class="invalid-feedback d-block d-block ng-invalid ng-touched">
                Campo Obrigatório.
              </div>
            </div>

              <div class="form-group col-md-3" formGroupName="passwords">
                <label>Senha:</label>
                <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': cadastroForm.get('passwords.password').errors &&
                                                             cadastroForm.get('passwords.password').touched}" />
                <div *ngIf="cadastroForm.get('passwords.password').hasError('minlength') &&
                                  cadastroForm.get('passwords.password').touched" class="invalid-feedback d-block">
                  Deve conter no mínimo 4 caracters
                </div>
                <div *ngIf="cadastroForm.get('passwords.password').hasError('required') &&
                                            cadastroForm.get('passwords.password').touched"
                  class="invalid-feedback d-block">
                  Senha é obrigatório.
                </div>
              </div>

              <div class="form-group col-md-3" formGroupName="passwords">
                <label>Confirmar Senha:</label>
                <input type="password" class="form-control"  formControlName="confirmPassword" [ngClass]="{ 'is-invalid': cadastroForm.get('passwords.confirmPassword').errors 
                                               && cadastroForm.get('passwords.confirmPassword').touched 
                                               ||cadastroForm.get('passwords.confirmPassword').hasError('mismatch') 
                                               && cadastroForm.get('passwords.confirmPassword').touched }" />
                <div *ngIf="cadastroForm.get('passwords.confirmPassword').hasError('required') &&
                                            cadastroForm.get('passwords.confirmPassword').touched"
                  class="invalid-feedback d-block">
                  Confirme a senha.
                </div>
                <div *ngIf="cadastroForm.get('passwords.confirmPassword').hasError('mismatch') 
                                            && cadastroForm.get('passwords.confirmPassword').touched"
                  class="invalid-feedback d-block">
                  Senhas diferentes!
                </div>
              </div>

          </div>
        </tab>

      </tabset>
    </form>
  </div>

  <button *ngIf="this.cadastrar == true" style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid"
    (click)="cadastrarUsuario()" tooltip="Cadastrar Usuário" class="btn btn-lg btn-primary">
    &nbsp;Cadastrar
  </button>
</div>
<div *ngIf="this.cadastrar == false">
  Você não tem permissão
</div>