{{abrirTemplate(templateLancamento)}}
<div bsModal #templateLancamento="bs-modal" class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title float-left">
          Lançamento<label></label>
        </h4>

        <button type="button" class="close float-right" (click)="fecharTemplate(templateLancamento)"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cadastroLancamento">

          <div class="row">

            <div class="form-group col-md-5">
              <label>Descrição</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="descricao"
                [ngClass]="{ 'is-invalid': cadastroLancamento.get('descricao').errors && cadastroLancamento.get('descricao').touched}" />
              <div
                *ngIf="cadastroLancamento.get('descricao').hasError('required') &&cadastroLancamento.get('descricao').touched"
                class="invalid-feedback d-block">
                Campo obrigatório.
              </div>
            </div>

            <div class="form-group col-md-3">
              <label style="white-space: nowrap;">Data Lançamento</label>
              <input type="text" class="form-control" formControlName="dataLancamento"
                [ngModel]="cadastroLancamento.get('dataLancamento').value" bsDatepicker [bsConfig]="this.bsConfig" [ngClass]="{ 'is-invalid': cadastroLancamento.get('dataLancamento').errors && 
                cadastroLancamento.get('dataLancamento').touched}" />
              <div
                *ngIf="cadastroLancamento.get('dataLancamento').hasError('required') &&cadastroLancamento.get('dataLancamento').touched"
                class="invalid-feedback d-block">
                Campo obrigatório.
              </div>
            </div>


            <div class="form-group col-md-3">
              <label>Valor:</label>
              <div class="input-group">
                <input class="form-control" currencyMask formControlName="valor"
                  [options]="{ prefix: '', thousands: '.', decimal: ',' }" [ngClass]="{ 'is-invalid': cadastroLancamento.get('valor').errors && 
                  cadastroLancamento.get('valor').touched}" />
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              </div>
              <div
                *ngIf="cadastroLancamento.get('valor').hasError('required') && cadastroLancamento.get('valor').touched"
                class="invalid-feedback d-block">
                Campo obrigatório.
              </div>
              <div *ngIf="cadastroLancamento.get('valor').hasError('min') && cadastroLancamento.get('valor').touched"
                class="invalid-feedback d-block">
                Valor deve ser maior que 0.
              </div>
            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label style="white-space: nowrap;">Conta de Débito:</label>
              <ng-select style="text-transform: uppercase" [items]="planoContas" bindLabel="descricao" required
                bindValue="id" [(ngModel)]="contaDebitoIdSelecionado" formControlName="planoDebitoId" disabled
                [ngClass]="{ 'is-invalid': cadastroLancamento.get('planoDebitoId').errors && cadastroLancamento.get('planoDebitoId').touched}">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.descricao}}</span></div>
                  <small><b>Tipo:</b> {{item.tipo}}</small> <br>
                </ng-template>
              </ng-select>
              <div
                *ngIf="cadastroLancamento.get('planoDebitoId').hasError('required') && cadastroLancamento.get('planoDebitoId').touched"
                class="invalid-feedback d-block">
                Campo obrigatório.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label style="white-space: nowrap;">Conta de Crédito:</label>
              <ng-select style="text-transform: uppercase" [items]="planoContas" bindLabel="descricao" required
                bindValue="id" [(ngModel)]="contaCreditoIdSelecionado" formControlName="planoCreditoId" disabled
                [ngClass]="{ 'is-invalid': cadastroLancamento.get('planoCreditoId').errors && cadastroLancamento.get('planoCreditoId').touched}">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div><span></span><span [ngOptionHighlight]="search">{{item.descricao}}</span></div>
                  <small><b>Tipo:</b> {{item.tipo}}</small> <br>
                </ng-template>
              </ng-select>
              <div
                *ngIf="cadastroLancamento.get('planoCreditoId').hasError('required') && cadastroLancamento.get('planoCreditoId').touched"
                class="invalid-feedback d-block">
                Campo obrigatório.
              </div>
            </div>

          </div>
        </form>

      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fecharTemplate(templateLancamento)">
          Fechar
        </button>
        <button *ngIf="this.idLancamento != 0 && this.editar == true" [disabled]="!cadastroLancamento.valid" class="btn btn-primary"
          (click)="salvarLancamento(templateLancamento)">
          Salvar
        </button>
        <button *ngIf="this.idLancamento == 0 && this.cadastrar == true" [disabled]="!cadastroLancamento.valid" class="btn btn-primary"
          (click)="salvarLancamento(templateLancamento)">
          Cadastrar
        </button>
      </div>
    </div>
  </div>

</div>