<form style="margin-top:30px">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Filtrar por:</label>
      <ng-select [clearable]="false" [items]="filtrarPor" name="filtrarPor" [(ngModel)]="filtroSelecionado" (change)="setFiltroSelecionado($event)">
      </ng-select>
    </div>

    <div *ngIf="filtroSelecionado != 'CIDADE'" class="form-group col-md-4">
        <div *ngIf="filtroSelecionado == 'NOME FANTASIA' || filtroSelecionado == 'RAZÃO SOCIAL' || filtroSelecionado == 'COD.SIGA'">
          <label>Filtro:</label>
          <input type="text"class="form-control" placeholder="..." name="filtro" [(ngModel)]="filtroLista"/>
        </div>

        <div *ngIf="filtroSelecionado == 'CNPJ/CPF'">
          <label>Filtro:</label>
          <input class="form-control" type="text" maxlength="18" placeholder="..." 
          name="filtro" [ngModel]="filtroLista | cnpjCpfPipePipe" (ngModelChange)="filtroLista=$event"/>
        </div>
    </div>

      <div *ngIf="filtroSelecionado == 'CIDADE'" class="form-group col-md-2">
        <label>Estado:(*)</label>
        <ng-select [items]="estados" bindLabel="uf" (clear)="limparEstado()" bindValue="id"
          (change)="getCidades(estadoIdSelecionado)" [(ngModel)]="estadoIdSelecionado" name="estadoFiltro">
        </ng-select>
      </div>

      <div *ngIf="filtroSelecionado == 'CIDADE'" class="form-group col-md-3">
        <label>Cidade:(*)</label>
        <ng-select [items]="cidades" style="text-transform: uppercase" bindLabel="nome" (clear)="limparCidade()"
          bindValue="id" [(ngModel)]="filtroLista" name="cidadeFiltro">
        </ng-select>
      </div>

    <div class="form-group col-md-2">
        <label>Status:</label>
        <ng-select [clearable]="false" [items]="status" name="statusFiltro" [(ngModel)]="statusFiltroSelecionado"(change)="setStatusFiltroSelecionado($event)">
        </ng-select>
      </div>
  </div>
  <div class="d-flex">
      <a [routerLink]="['/clientes','novo']" tooltop="Novo Cliente"  class="btn btn-success ml-auto">
        <i class="fa fa-plus-circle"></i>&nbsp; Novo Cliente
      </a>
  </div>
<form>

<table class="container-fluid table table-striped table-bordered mt-4">
<thead class="thead-light">
  <tr>
    <th>Id</th>
    <th>Razão Socia</th>
    <th>Nome Fantasia</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Ações</th>
  </tr>
</thead>
<tbody *ngIf="clientes && clientes.length">
  <tr *ngFor="let cliente of clientesFiltrados | paginate: { itemsPerPage: 5, currentPage: paginaAtual, totalItems: totalRegistros };">
    <td>{{ cliente.id }}</td>
    <td>{{ cliente.razaoSocial }}</td>
    <td>{{ cliente.nomeFantasia }}</td>
    <td>{{ cliente.telefone }}</td>
    <td>{{ cliente.celular }}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirCliente(cliente, confirm)">
          <i class="fa fa-eraser"></i>
        </button>
              <a [routerLink]="['/clientes','editar', cliente.id]" tooltip="Editar/Perfil" class="btn btn-sm btn-primary">
        <i class="fa fa-edit"></i>
      </a>
      </div>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!clientes">
  <tr colspan="7" class="text-center"></tr>
  <h4>
    Nenhum cliente encontrado!
  </h4>
</tfoot>
</table>
Total de Registros: {{totalRegistros}}
<div class="text-center">
<pagination-controls (pageChange)="paginaAtual = $event" name="clientePagination" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title pull-left">
            Deletando Cliente
          </h4>
          <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <p>{{bodyDeletarCliente}}</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
          <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
            CENCELAR
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
              DELETAR
          </button>
      </div>
    </div>
</div>
</div>
