<form [formGroup]="cadastroPublicacao">
  <div class="form-group">
    <label>Texto</label>
    <textarea class="form-control"
      [ngClass]="{'is-invalid':cadastroPublicacao.get('texto').errors &&cadastroPublicacao.get('texto').touched}"
      formControlName="texto" placeholder="" rows="4"></textarea>
    <div *ngIf="cadastroPublicacao.get('texto').hasError('required') &&cadastroPublicacao.get('texto').touched"
      class="invalid-feedback d-block">
      Campo é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label>Compartilhar com</label>
    <ng-select appendTo="body" [dropdownPosition]="'bottom'" [clearable]="false" bindLabel="label"
      formControlName="compartilharTodos" required bindValue="value" [items]="itensCompartilharTodos"
      [(ngModel)]="this.marcacaoTipoSelecionado">
    </ng-select>
    <div
      *ngIf="cadastroPublicacao.get('compartilharTodos').hasError('required') &&cadastroPublicacao.get('compartilharTodos').touched"
      class="invalid-feedback d-block d-block ng-invalid ng-touched">
      Campo é obrigatório.
    </div>
  </div>

  <div class="form-group" *ngIf="this.marcacaoTipoSelecionado == 'USUARIO'">
    <label>Usuários específicos</label>
    <ng-select appendTo="body" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
      [dropdownPosition]="'bottom'" [clearable]="false" [items]="usuarios" bindLabel="nomeCompleto" bindValue="id"
      formControlName="usuariosMarcados" [(ngModel)]="usuariosMarcados">
      <ng-template ng-header-tmp>
        <button (click)="marcarTodosUsuarios()" class="btn btn-sm btn-primary">Marcar Todos</button>
        <button (click)="desmarcarTodosUsuarios()" class="btn btn-sm btn-primary" style="margin-left: 10px;">Desmarcar
          Todos</button>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="40" width="40" style="border: 1px solid #C0C0C0"
          [src]="getUrlUsuarioFotoPerfil(item.id, item.nomeArquivoFotoPerfil)" alt="img" />
        <b style="margin-left: 5px;">{{item.nomeCompleto}}</b>
      </ng-template>
    </ng-select>
  </div>

  <div class="form-group" *ngIf="this.marcacaoTipoSelecionado == 'NIVEL'">
    <label>Níveis específicos</label>
    <ng-select appendTo="body" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
      [dropdownPosition]="'bottom'" [clearable]="false" [items]="niveis" bindLabel="name" bindValue="id"
      formControlName="niveisMarcados" [(ngModel)]="niveisMarcados">
      <ng-template ng-header-tmp>
        <button (click)="marcarTodosNiveis()" class="btn btn-sm btn-primary">Marcar Todos</button>
        <button (click)="desmarcarTodosNiveis()" class="btn btn-sm btn-primary" style="margin-left: 10px;">Desmarcar
          Todos</button>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <b style="margin-left: 5px;">{{item.name}}</b>
      </ng-template>
    </ng-select>
  </div>

  <div class="form-group">
    <div class="btn btn-outline-secondary btn-file">
      <i class="fa fa-paperclip"></i> Anexar Arquivos
      <input type="file" multiple name="attachment" (change)="adicionarArquivoUpload($event)">
    </div>
  </div>

  <div *ngIf="publicacaoArquivos && publicacaoArquivos.length" class="box-footer">
    <ul class="mailbox-attachments">
      <li *ngFor="let arquivo of publicacaoArquivos; let i = index">
        <button type="button" class="btn btn-default float-right" tooltip="Excluir" (click)="excluirArquivoUpload(i)"><i
            class="fa fa-times"></i></button>
        <span class="mailbox-attachment-icon"><i class="fa fa-file-o"></i></span>
        <div class="mailbox-attachment-info">
          <a class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{arquivo.arquivoNome}}</a>
          <span class="mailbox-attachment-size">
            {{(arquivo.arquivoTamanho) | filesize}}
          </span>
        </div>
      </li>
    </ul>
  </div>
</form>

<button [disabled]="!cadastroPublicacao.valid" class="btn btn-primary"
  (click)="cadastrarPublicacao()">
  Salvar
</button>

