<h2>Produto</h2>
<hr width="100%">
<div class="box box-solid">
  <div class="box-header with-border">
    <tabset>
      <tab heading="Geral" style="margin-top: 10px;">
        <form [formGroup]="cadastroForm" class="mt-3">
          <div class="row mt-4">
            <div class="form-group col-md-5">
              <label>Descrição:(*)</label>
              <input style="text-transform: uppercase" oninput="this.value = this.value.toUpperCase()"
                class="form-control" type="text" formControlName="descricao" [ngClass]="{ 'is-invalid': cadastroForm.get('descricao').errors && 
                                        cadastroForm.get('descricao').touched}" />

              <div *ngIf="cadastroForm.get('descricao').hasError('required') &&cadastroForm.get('descricao').touched"
                class="invalid-feedback">
                Campo obrigatório.
              </div>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>
<button style="position:relative;margin-bottom: 15px;" [disabled]="!cadastroForm.valid" (click)="cadastrarProduto()" tooltip="Novo Produto"
  class="btn btn-lg btn-primary">
  &nbsp;Cadastrar
</button>